/* Footer */
.footer {
  background-color: $bg-black;
  // .footer__content
  &__content {
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    @media (min-width: $md2) {
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }

  // .footer__content-inner
  &__content-inner {
    @include padding-container($maxWidthContainer, $pl, $pr);
    @media (min-width: $md2) {
      display: grid;
      grid-template-columns: 4fr 8fr;
      grid-template-rows: min-content 1fr;
      grid-template-areas:
        'logo nav'
        'contacts nav';
    }
  }

  // .footer__logo
  &__logo {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    @media (min-width: $md4) {
      margin-bottom: 20px;
    }
    @media (min-width: $md2) {
      grid-area: logo;
      justify-content: flex-start;
      margin-bottom: 40px;
    }
    .logo__img {
      width: 186px;
      height: 67px;
      @media (min-width: $md2) {
        width: 226px;
        height: 75px;
      }
    }
  }

  // .footer__nav
  &__nav {
    margin-bottom: 40px;
    @media (min-width: $md4) {
      margin-bottom: 60px;
    }
    @media (min-width: $md2) {
      grid-area: nav;
      margin-bottom: 0;
    }
  }

  // .footer__contacts
  &__contacts {
    @media (min-width: $md2) {
      grid-area: contacts;
    }
    .contacts-info__item {
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .socials__icon {
      width: 30px;
      height: 30px;
    }
  }

  // .footer__bottom
  &__bottom {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #151515;
  }

  // .footer__bottom-inner
  &__bottom-inner {
    @include padding-container($maxWidthContainer, $pl, $pr);
    display: grid;
    row-gap: 15px;
    @media (min-width: $md3) {
      grid-auto-flow: column;
      justify-content: space-between;
    }
  }

  // .footer__bottom-links
  &__bottom-links {
    display: grid;
    @media (min-width: $md4) {
      grid-auto-flow: column;
      gap: 15px 30px;
      justify-content: center;
    }
    a {
      position: relative;
      font-size: 14px;
      line-height: 1.3;
      color: darken($color: $white, $amount: 40%);
      &:active {
        color: darken($color: $white, $amount: 25%);
      }
      &:hover,
      &:focus {
        color: $white;
        text-decoration: underline;
      }
    }
  }

  // .footer__copyright
  &__copyright {
    color: darken($color: $white, $amount: 40%);
    @media (min-width: $md4) {
      justify-self: center;
    }
  }
}

/* Footer-nav */
.footer-nav {
  // .footer-nav__list
  &__list {
    display: grid;
    column-gap: 20px;
    row-gap: 20px;
    @media (min-width: $md5) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: $md4) {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 30px;
    }
  }
  // .footer-nav__item
  &__item {
    list-style: none;
  }

  // .footer-nav__heading
  &__heading {
    font-family: $montserrat;
    font-size: 17px;
    font-weight: 500;
    line-height: 1.35;
    color: $white;
    margin-bottom: 10px;
  }

  // .footer-nav__link
  &__link {
    color: inherit;
    &:hover,
    &:focus {
      color: darken($color: $white, $amount: 15%);
      text-decoration: underline;
    }
  }

  // .footer-nav__sublist
  &__sublist {
    font-family: $montserrat;
    font-weight: normal;
    line-height: 1.3;
    font-size: 14px;
    color: $text-white;
  }

  // .footer-nav__sublist-item
  &__sublist-item {
    margin-bottom: 7px;
    &:last-child {
      margin-bottom: 0;
    }
    a {
      color: inherit;
      &:hover,
      &:focus {
        color: darken($color: $white, $amount: 15%);
        text-decoration: underline;
      }
    }
  }
}
