/* Header */
.header {
  height: 80px;
  background-color: $bg-black;
  color: $white;
  @media (min-width: $md2) {
    height: 160px;
  }
  &--js-fixed {
    position: fixed;
    z-index: 998;
    top: 0;
    width: 100%;
  }

  // .header__inner
  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include padding-container($maxWidthContainer, $pl, $pr);
    position: relative;
    height: 100%;
  }

  // .header__top
  &__top {
    display: grid;
    grid-template-areas: 'dropdown-trigger logo search-trigger';
    grid-template-columns: min-content 1fr min-content;
    column-gap: 20px;
    padding-top: 14px;
    padding-bottom: 11px;
    & > * {
      align-self: center;
    }
    @media (min-width: $md5) {
      grid-template-areas: 'dropdown-trigger logo search';
      grid-template-columns: min-content min-content 1fr;
    }
    @media (min-width: $md4) {
      grid-template-areas: 'dropdown-trigger logo search cart';
      grid-template-columns: min-content min-content 1fr min-content;
    }
    @media (min-width: $md3) {
      column-gap: 25px;
    }
    @media (min-width: $md2) {
      grid-template-areas: 'contacts logo cart';
      grid-template-columns: 1fr auto 1fr;
      border-bottom: 1px solid $orange-dark;
      & .header__dropdown-trigger {
        display: none;
      }
      & .header__search {
        display: none;
      }
      & .header__dropdown-button {
        display: none;
      }
    }
  }

  // .header__bottom
  &__bottom {
    position: relative;
    display: none;
    grid-template-areas: 'dropdown-trigger search nav';
    grid-template-columns: min-content minmax(274px, 1fr) 1fr;
    column-gap: 60px;
    padding-top: 13px;
    padding-bottom: 12px;
    @media (min-width: $md2) {
      display: grid;
    }
  }

  // .header__logo
  &__logo {
    grid-area: logo;
    justify-self: center;
    .logo__img {
      width: 126px;
      height: 43px;
      @media (min-width: $md2) {
        width: 186px;
        height: 63px;
      }
    }
  }

  // .header__contacts
  &__contacts {
    grid-area: contacts;
    display: none;
    @media (min-width: $md2) {
      display: flex;
      flex-wrap: wrap;
      & .contacts-info__item {
        flex-basis: 50%;
        &--socials {
          margin-top: 5px;
        }
      }
      & .contacts-info__text {
        font-size: 15px;
      }
    }
    @media (min-width: $md1) {
    }
  }

  // .header__catalog
  &__catalog {
    z-index: 98;
    position: absolute;
    left: 0;
    top: 100%;
    display: flex;
    max-width: 95%;
  }

  // .header__search
  &__search {
    display: none;
    @media (min-width: $md5) {
      grid-area: search;
      display: block;
    }
    &--show {
      z-index: 999;
      display: block;
      position: fixed;
      top: 0;
      background-color: $bg-black;
      left: 0;
      right: 0;
      padding: 20px;
      height: 80px;
      &::before {
        content: '';
        position: absolute;
        top: 100%;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100vh;
        background-color: rgba(65, 65, 65, 0.274);
      }
      @media (min-width: $md5) {
        all: unset;
      }
    }
  }

  // .header__search-trigger
  &__search-trigger {
    grid-area: search-trigger;
    @media (min-width: $md5) {
      display: none;
    }
  }

  // .header__nav
  &__nav {
    grid-area: nav;
    display: flex;
    align-items: center;
    .page-nav__list {
      display: flex;
    }
    .page-nav__item {
      margin-right: 30px;
      font-size: 17px;
      line-height: 1.5;
      &:last-child {
        margin-right: 0;
      }
      @media (min-width: 1200px) {
        margin-right: 60px;
      }
    }
    .page-nav__link {
      white-space: nowrap;
    }
  }

  // .header__dropdown-button
  &__dropdown-button {
    grid-area: dropdown-trigger;
    flex-grow: 0;
    display: inline-flex;
    align-items: center;
    color: $white;
    &.open .burger-icon {
      span {
        background-color: transparent;
        &::before,
        &::after {
          top: 0;
        }
        &::after {
          transform: rotate3d(0, 0, 1, -45deg);
        }
        &::before {
          transform: rotate3d(0, 0, 1, 45deg);
        }
      }
    }
    &.open .dropdown-button-text--open {
      display: none;
      visibility: hidden;
    }
    &.open .dropdown-button-text--close {
      display: inline;
      visibility: visible;
    }
  }

  /* Mobile dropdown-menu */
  // .header__dropdown-menu
  &__dropdown-menu {
    display: none;
    z-index: 98;
    position: fixed;
    left: 0;
    top: 80px;
    right: 0;
    bottom: 0;
    height: 100%;
    &.open {
      display: block;
      @media (min-width: $md2) {
        display: none;
        visibility: hidden;
      }
    }
    & .contacts-info__item {
      font-size: 20px;
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
      }
      &--work-schedule {
        margin-bottom: 30px;
      }
    }
  }

  // .header__nav-bar
  &__nav-bar {
    display: none;
    @media (min-width: $md4) {
      grid-area: cart;
      display: flex;
      margin-left: auto;
      & .cart__price {
        display: none;
        @media (min-width: 870px) {
          display: inline-block;
        }
      }
    }
  }
}

/* Dropdown-button-text */
.dropdown-button-text {
  &--close {
    display: none;
    visibility: hidden;
  }
}

/* Dropdown-menu */
.dropdown-menu {
  background-color: $bg-black;
  overflow-y: auto;

  // .dropdown-menu__inner
  &__inner {
    padding-left: $pl;
    padding-right: $pr;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  // .dropdown-menu__nav
  &__nav {
    margin-bottom: 25px;
  }

  // .dropdown-menu__search
  &__search {
    display: block;
    margin-bottom: 40px;
    @media (min-width: $md5) {
      display: none;
      visibility: hidden;
    }
  }

  // .dropdown-menu__contacts
  &__contacts {
    padding-top: 40px;
    border-top: 1px solid $orange-dark;
  }
}

/* Header-nav */
.header-nav {
  // .header-nav__item
  &__item {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
    &--arrow {
      button {
        position: relative;
        color: inherit;
        padding-right: 70px;
        transition: margin 0.5s linear;
        &::after {
          content: '';
          position: absolute;
          top: 50%;
          right: 10px;
          width: 0;
          height: 0;
          border-width: 6px 4px 0;
          border-style: solid;
          border-color: $orange transparent transparent;
          transform: translateY(-50%);
          pointer-events: none;
        }
      }
    }
  }

  // .header-nav__link
  &__link {
    color: $white;
  }

  // .header-nav__sub-list
  &__sub-list {
    position: relative;
    margin-left: 20px;
    padding-left: 30px;
    height: 0;
    overflow: hidden;
    transition: height 0.3s linear;
    border-left: 1px solid $orange-dark;
  }

  // .header-nav__sub-item
  &__sub-item {
    font-size: 17px;
    line-height: 1.5;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  // .header-nav__sub-link
  &__sub-link {
    color: $white;
  }
}

/* Catalog-dropdown */
.catalog-dropdown {
  display: none;
  transform-origin: top;
  transform: rotateX(90deg);
  transition: transform 0.2s linear, opacity 0.3s linear;
  background-color: $white;
  @media (min-width: $md2) {
    display: block;
    opacity: 0;
  }
  &.open {
    transform: rotate(0deg);
    @media (min-width: $md2) {
      opacity: 1;
    }
  }

  // .catalog-dropdown__content
  &__content {
    padding: 30px 50px;
    &::before {
      content: '';
      position: absolute;
      left: 50px;
      top: 1px;
      width: 0;
      height: 0;
      border-left: 18px solid transparent;
      border-right: 18px solid transparent;
      border-bottom: 16px solid $white;
      transform: translateY(-100%);
    }
  }

  // .catalog-dropdown__tabs
  &__tabs {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 25px;
    margin-bottom: 40px;
    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: $grey-light;
    }
  }

  // .catalog-dropdown__button-group
  &__button {
    position: relative;
    display: block;
    font-size: 17px;
    color: $black;
    line-height: 1.5;
    transition: color 0.2s linear;
    white-space: nowrap;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    margin-right: 30px;
    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 5px;
      background-image: url(../img/icons/underline-decor.svg);
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0;
      transition: opacity 0.2s linear;
    }
    &:last-child {
      margin-right: 0;
    }
    &.active {
      color: $orange;
      &::before {
        opacity: 1;
      }
    }
  }

  // .catalog-dropdown__item
  &__item {
    display: none;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px 40px;
    min-width: 620px;
    @media (min-width: $maxWidthContainer) {
      grid-template-columns: repeat(5, 1fr);
    }
    &.show {
      display: grid;
    }
  }

  // .catalog-dropdown__list-item
  &__list-item {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 17px;
    line-height: 1.5;
  }

  // .catalog-dropdown__link
  &__link {
    color: $black;
    &:hover,
    &:focus {
      text-decoration: underline;
    }
    &:active {
      color: lighten($black, 25%);
    }
  }
}

/* Burger-icon */
.burger-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  padding: 10px;
  span {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 1px;
    background-color: $orange;
    transition: background-color 0.3s linear;
    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $orange;
      transform-origin: 50% 50%;
      transition: top 0.2s linear, transform 0.3s linear;
    }
    &::before {
      top: 6px;
    }
    &::after {
      top: -6px;
    }
  }
}
