/* Main-page */
.main-page {
  &__item {
    &:nth-child(2) {
      margin-top: 20px;
      @media (min-width: $md2) {
        margin-top: 30px;
      }
      @media (min-width: $md1) {
        margin-top: 60px;
      }
    }
    &:not(:first-child) {
      margin-bottom: 40px;
      @media (min-width: $md2) {
        margin-bottom: 60px;
      }
      @media (min-width: $md1) {
        margin-bottom: 120px;
      }
    }
  }
}

/* Hero */
.hero {
  z-index: 0;
  position: relative;
  background-color: #0a0807;

  // .hero__slider-nav
  &__slider-nav {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  // .hero__slider-nav-inner
  &__slider-nav-inner {
    @include container($maxWidthContainer);
    position: relative;
    height: 100%;
  }

  // .hero__slider-control
  &__slider-control {
    z-index: 2;
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    @media (min-width: $md4) {
      bottom: 72px;
    }
    @media (min-width: $md2) {
      left: calc(100% - 90px);
      bottom: 50%;
      transform: translateX(0) translateY(-50%);
    }
    @media (min-width: $maxWidthContainer) {
      left: calc(100% - 45px);
    }
    .swiper-button-prev,
    .swiper-button-next {
      display: none;
      position: absolute;
      left: 50%;
      width: 38px;
      height: 38px;
      border: 1px solid $orange;
      cursor: pointer;
      transform: translateX(-50%);
      &:active {
        border-color: darken($orange, 15%);
        span {
          background-color: darken($orange, 15%);
          &::before {
            background-color: darken($orange, 15%);
          }
        }
      }
      @media (min-width: $md2) {
        display: block;
      }
      span {
        position: absolute;
        left: 50%;
        width: 2px;
        background-color: $orange;
        &::before {
          content: '';
          position: absolute;
          left: 0;
          width: 7px;
          height: 7px;
          background-color: $orange;
          transform: rotate(45deg) translateX(-50%);
        }
      }
      &.swiper-button-disabled {
        border: 1px solid $orange-dark;
        span {
          background-color: $orange-dark;
          &::before {
            background-color: $orange-dark;
          }
        }
      }
    }
    .swiper-button-prev {
      top: calc(-100% - 20px);
      span {
        top: 0;
        height: 36px;
        transform: translate(-50%, -50%);
        &::before {
          top: 0;
        }
      }
    }
    .swiper-button-next {
      bottom: calc(-100% - 20px);
      span {
        top: 50%;
        height: 64px;
        transform: translate(-50%, 0%);
        &::before {
          top: 100%;
        }
      }
    }
  }

  // .hero__slide
  &__slide {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    &--bg-first-screen {
      background-image: url(../img/bg/main-bg-sm-alt.jpg);
    }
    &--bg-second-screen {
      background-image: url(../img/bg/main-bg.jpg);
    }
  }

  // .hero__inner
  &__inner {
    @include padding-container($maxWidthContainer, $pl, $pr);
    padding-top: 320px;
    padding-bottom: 60px;
    @media (min-width: $md5) {
      padding-top: 80px;
      padding-bottom: 120px;
    }
    @media (min-width: $md4) {
      padding-top: 48px;
      padding-bottom: 158px;
    }
    @media (min-width: $md2) {
      padding-top: 110px;
      padding-bottom: 210px;
    }
  }

  // .hero__text-block
  &__text-block {
    margin-bottom: 40px;
    @media (min-width: $md4) {
      margin-bottom: 40px;
    }
    @media (min-width: $md2) {
      margin-bottom: 60px;
    }
  }

  // .hero__heading
  &__heading {
    margin-bottom: 20px;
    font-family: $forum;
    font-size: 35px;
    line-height: 1;
    color: $orange;
    @media (min-width: $md6) {
      font-size: 40px;
    }
    @media (min-width: $md5) {
      font-size: 44px;
    }
    @media (min-width: $md4) {
      font-size: 60px;
      margin-bottom: 30px;
    }
    @media (min-width: $md2) {
      font-size: 75px;
    }
  }

  // .hero__text
  &__text {
    max-width: 430px;
    font-size: 18px;
    line-height: 1.4;
    color: $white;
    @media (min-width: $md5) {
      font-size: 20px;
    }
    @media (min-width: $md4) {
      font-size: 25px;
    }
  }

  // .hero__button
  &__button {
    width: 100%;
    white-space: nowrap;
    @media (min-width: $md7) {
      width: 275px;
    }
  }
}

/* Product-offers */
.product-offers {
  // .product-offers__nav
  &__nav {
    margin-bottom: 24px;
    @media (min-width: $md4) {
      margin-bottom: 34px;
    }
    & > .swiper-wrapper {
      display: grid;
      grid-auto-flow: column;
      grid-template-columns: min-content;
      justify-content: start;
      column-gap: 10px;
      @media (min-width: $md4) {
        column-gap: 14px;
      }
      @media (min-width: $md2) {
        column-gap: 20px;
      }
    }
  }

  // .product-offers__nav-button
  &__nav-button {
    padding: 5px 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.15;
    white-space: nowrap;
    outline: none;
    &.active {
      color: $orange;
      span {
        border-bottom: 1px solid $orange;
      }
    }
  }

  // .product-offers__catalog
  &__catalog {
    display: contents;
  }

  // .product-offers__catalog-category
  &__catalog-category {
    display: none;
    &.show {
      display: grid;
    }
  }

  // .product-offers__catalog-list
  &__catalog-list {
    display: grid;
    row-gap: 20px;
    margin-bottom: 30px;
    @media (min-width: $md7) {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 10px;
    }
    @media (min-width: $md4) {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 20px;
    }
    @media (min-width: $md2) {
      grid-template-columns: repeat(4, 1fr);
      margin-bottom: 50px;
    }
  }

  // .product-offers__catalog-footer
  &__catalog-footer {
    display: flex;
    justify-content: center;
  }

  // .product-offers__catalog-button
  &__catalog-button {
    min-width: 275px;
  }
}

/* Catalog-grid */
.catalog-grid {
  // .catalog-grid__list
  &__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      'sets'
      'holders'
      'machines'
      'pedals'
      'paints'
      'power'
      'tips'
      'needles'
      'consumables'
      'accessories';
    gap: 20px;
    @media (min-width: $md5) {
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        'sets holders'
        'machines pedals'
        'paints power'
        'tips needles'
        'consumables accessories';
    }
    @media (min-width: $md4) {
      grid-template-columns: repeat(8, 1fr);
      grid-template-areas:
        'sets sets sets holders holders holders holders holders'
        'machines machines machines machines pedals pedals pedals pedals'
        'paints paints paints paints paints power power power'
        'tips tips tips tips needles needles needles needles'
        'consumables consumables consumables accessories accessories accessories accessories accessories';
    }
    @media (min-width: $md1) {
      grid-template-columns: repeat(7, 1fr);
      grid-template-areas:
        'sets sets sets holders holders holders holders'
        'machines machines pedals pedals pedals paints paints'
        'power power power tips tips needles needles'
        'consumables consumables consumables consumables accessories accessories accessories';
    }
  }

  // .catalog-grid__list-item
  &__list-item {
    background-color: #f5f5f5;
    transition: box-shadow 0.2s linear;
    &--sets {
      grid-area: sets;
    }
    &--holders {
      grid-area: holders;
    }
    &--machines {
      grid-area: machines;
    }
    &--pedals {
      grid-area: pedals;
    }
    &--paints {
      grid-area: paints;
    }
    &--power {
      grid-area: power;
    }
    &--tips {
      grid-area: tips;
    }
    &--needles {
      grid-area: needles;
    }
    &--consumables {
      grid-area: consumables;
    }
    &--accessories {
      grid-area: accessories;
    }
  }
}
.item-catalog {
  position: relative;
  display: flex;
  flex-direction: column;
  &:hover {
    box-shadow: 0px 0px 15px 3px #ddd;
  }

  // .item-catalog__link
  &__link {
    color: $black;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    &:focus-visible {
      color: lighten($color: $black, $amount: 25%);
      &::after {
        box-shadow: 0 0 15px 3px #ddd;
      }
    }
  }

  // .item-catalog__heading
  &__heading {
    padding: 40px 30px 30px 50px;
    font-size: 30px;
    line-height: 1.3;
    font-weight: 700;
  }

  // .item-catalog__image
  &__image {
    max-height: 300px;
    width: 100%;
    img {
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: contain;
    }
  }
}

/* Banners */
.banners {
  display: grid;
  gap: 20px;
  @media (min-width: $md4) {
    grid-template-columns: 1fr 1fr;
  }

  // .banners__item
  &__item {
    flex-basis: 100%;
    @media (min-width: $md5) {
      flex-basis: calc(50% - 10px);
    }
  }
}
.item-banner {
  position: relative;
  &--bg {
    background-repeat: no-repeat;
    background-size: cover;
  }
  &--bg-v1 {
    background-image: url(../img/banners/banner-1-sm.jpg);
    @media (min-width: $md7) {
      background-image: url(../img/banners/banner-1-md.jpg);
    }
    @media (min-width: $md4) {
      background-image: url(../img/banners/banner-1-lg.jpg);
    }
  }
  &--bg-v2 {
    background-image: url(../img/banners/banner-2-sm.jpg);
    @media (min-width: $md7) {
      background-image: url(../img/banners/banner-2-md.jpg);
    }
    @media (min-width: $md4) {
      background-image: url(../img/banners/banner-2-lg.jpg);
    }
  }

  // .item-banner__inner
  &__inner {
    min-height: 300px;
    max-height: 320px;
    display: flex;
    flex-wrap: wrap;
    padding: 30px 20px 20px 20px;
    @media (min-width: $md4) {
      padding: 40px 50px 30px 50px;
    }
  }

  // .item-banner__text
  &__text {
    flex-basis: 100%;
    font-size: 25px;
    font-weight: 700;
    line-height: 1.3;
    color: $white;
    @media (min-width: $md4) {
      font-size: 30px;
    }
    @media (min-width: $md1) {
      font-size: 40px;
    }
  }

  // .item-banner__link-wrapper
  &__link-wrapper {
    flex-basis: 100%;
    align-self: flex-end;
  }

  // .item-banner__link
  &__link {
    font-size: 20px;
    line-height: 1.5;
    color: $orange;
    @media (min-width: $md1) {
      font-size: 22px;
    }
    &::after {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    &:focus-visible {
      outline: none;
      color: $white;
      &::after {
        outline: 3px solid $orange;
        outline-offset: -3px;
      }
    }
    &:hover {
      color: $white;
    }
  }
}

/* Brands */
.brands {
  padding-bottom: 48px;
  @media (min-width: $md1) {
    padding-bottom: 56px;
  }

  // .brands__slider
  &__slider {
    position: relative;
    .swiper-button-prev,
    .swiper-button-next {
      display: none;
      z-index: 1;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      @media (min-width: $md2) {
        display: flex;
      }
    }
    .swiper-button-prev {
      left: -15px;
      @media (min-width: 1296px) {
        left: -30px;
      }
      @media (min-width: 1366px) {
        left: -62px;
      }
      @media (min-width: 1428px) {
        left: -80px;
      }
    }
    .swiper-button-next {
      right: -15px;
      @media (min-width: 1296px) {
        right: -30px;
      }
      @media (min-width: 1366px) {
        right: -62px;
      }
      @media (min-width: 1428px) {
        right: -80px;
      }
    }
  }

  // .brands__slider-inner
  &__slider-inner {
    height: 90px;
    .swiper-slide {
      height: calc((100% - 15px) / 2);
    }
    @media (min-width: $md7) {
      height: 120px;
    }
    @media (min-width: $md6) {
      height: 140px;
    }
    @media (min-width: $md5) {
      height: 160px;
    }
    @media (min-width: $md4) {
      height: 190px;
      .swiper-slide {
        height: calc((100% - 20px) / 2);
      }
    }
  }

  // .brands__link
  &__link {
    display: none;
    position: absolute;
    top: -40px;
    right: 0;
    font-size: 15px;
    line-height: 1.4;
    color: $black;
    transition: color 0.2s linear;
    &:hover,
    &:active,
    &:focus {
      color: $orange;
    }
    &:active,
    &:focus {
      text-decoration: underline;
    }
    @media (min-width: $md5) {
      display: block;
    }
    @media (min-width: $md4) {
      font-size: 17px;
      top: -60px;
    }
    @media (min-width: $md2) {
      font-size: 20px;
    }
  }
}

/* Brands-item */
.brands-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  user-select: none;

  // .brands-item__image
  &__image {
    display: flex;
    justify-content: center;
    max-height: 46px;
    padding: 3px 5px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    @media (min-width: 530px) {
      padding: 6px 10px;
      max-height: 54px;
    }
    @media (min-width: $md4) {
      min-height: 84px;
    }
    @media (min-width: $md2) {
      filter: grayscale(100%);
      opacity: 0.6;
      transition: filter 0.2s linear, opacity 0.2s linear;
      &:hover {
        filter: grayscale(0%);
        opacity: 1;
      }
    }
  }
}

/* Info-block */
.info-block {
  display: grid;
  row-gap: 14px;
  @media (min-width: $md4) {
    row-gap: 16px;
  }
  @media (min-width: $md2) {
    grid-template-columns: 1fr 1fr;
  }
  @media (min-width: $maxWidthContainer) {
    grid-template-columns: 1fr 1fr;
  }
  &::before {
    content: '';
    display: block;
    background-image: url(../img/info-block/info-img-sm.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: 268px;
    @media (min-width: $md7) {
      background-image: url(../img/info-block/info-img-md.jpg);
    }
    @media (min-width: $md5) {
      height: 340px;
    }
    @media (min-width: 630px) {
      background-image: url(../img/info-block/info-img-lg.jpg);
    }
    @media (min-width: $md4) {
      height: 400px;
    }
    @media (min-width: $md2) {
      height: 635px;
    }
  }

  // .info-block__content
  &__content {
    display: grid;
    padding-left: $pl;
    padding-right: $pr;
    @media (min-width: $md2) {
      align-content: center;
      max-width: 598px;
    }
    @media (min-width: $md1) {
      padding-left: $pl * 2;
    }
  }

  // .info-block__heading
  &__heading {
    margin-bottom: 8px;
    font-family: $forum;
    font-size: 25px;
    line-height: 1.3;
    color: $orange;
    @media (min-width: $md4) {
      font-size: 40px;
      margin-bottom: 10px;
    }
    @media (min-width: $md1) {
      font-size: 50px;
    }
  }

  // .info-block__text
  &__text {
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 1.4;
    p {
      margin-top: 6px;
      margin-bottom: 6px;
      @media (min-width: $md4) {
        margin-top: 8px;
        margin-bottom: 8px;
      }
      &:first-child {
        margin-top: 0;
      }
    }
    @media (min-width: $md4) {
      margin-bottom: 40px;
      font-size: 17px;
    }
  }

  // .info-block__button
  &__button {
    width: 100%;
    justify-self: center;
    @media (min-width: $md7) {
      width: 275px;
    }
    @media (min-width: $md1) {
      justify-self: start;
    }
  }
}

/* Feedback */
.feedback {
  // .feedback__slider
  &__slider {
    @include container(598px);
    position: relative;
    &.swiper {
      overflow: visible;
      //одинаковые паддинги, чтобы стрелки стояли по центру
      padding-top: 30px;
      padding-bottom: 62px;
      @media (min-width: $md1) {
        padding-bottom: 70px;
      }
    }
    .swiper-button-prev,
    .swiper-button-next {
      display: none;
      z-index: 1;
      position: absolute;
      top: calc(50% - 20px);
      transform: translateY(-50%);
      @media (min-width: $md4) {
        display: flex;
      }
      @media (min-width: $md1) {
        top: calc(50% - 16px);
      }
    }
    .swiper-button-prev {
      left: -80px;
    }
    .swiper-button-next {
      right: -80px;
    }
    .slider-pagination {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  // .feedback__card
  &__card {
    height: auto;
    overflow: hidden;
    user-select: none;
    @media (min-width: 620px) {
      height: 307px;
    }
  }
}

/* Card-feedback */
.card-feedback {
  padding: 50px 20px 52px;
  background-color: $bg-black;
  border-top: 2px solid $orange;
  border-bottom: 2px solid $orange;
  @media (min-width: 620px) {
    padding-left: 50px;
    padding-right: 50px;
  }

  // .card-feedback__photo
  &__photo {
    position: absolute;
    top: 0;
    left: 20px;
    border: 3px solid $orange;
    width: 54px;
    height: 54px;
    transform: translateY(-50%);
    img {
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: cover;
    }
  }

  // .card-feedback__text
  &__text {
    p {
      font-size: 17px;
      line-height: 1.4;
      color: $white;
      &:not(:last-child) {
        margin-bottom: 0.5em;
      }
    }
  }
}

/* Mailing */
.mailing {
  @media (min-width: $md2) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    &::after {
      content: '';
      display: block;
      background-image: url(../img/bg/mailing-bg.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
  @media (min-width: $md1) {
    column-gap: 70px;
  }

  // .mailing__content
  &__content {
    padding-left: $pl;
    padding-right: $pr;
    @media (min-width: $md2) {
      width: 492px;
    }
    @media (min-width: $md2) {
      justify-self: end;
    }
    @media (min-width: $md1) {
      width: 524px;
    }
  }

  // .mailing__desc
  &__desc {
    font-size: 17px;
    line-height: 1.15;
    font-weight: 500;
    margin-bottom: 30px;
    @media (min-width: $md4) {
      font-size: 25px;
    }
  }

  // .mailing__form
  &__form {
    @media (min-width: $md5) {
      display: flex;
      flex-wrap: wrap;
      margin-left: -10px;
      margin-right: -10px;
    }
    .form__group {
      display: grid;
      margin-bottom: 20px;
      row-gap: 10px;
      @media (min-width: $md5) {
        width: 50%;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 30px;
        @media (min-width: $md2) {
          width: 100%;
        }
      }
      &--agreement {
        .checkbox {
          display: grid;
          grid-auto-flow: column;
          justify-content: start;
          align-items: center;
          column-gap: 10px;
        }
        @media (min-width: $md5) {
          order: 1;
          margin-bottom: 0;
        }
        @media (min-width: $md2) {
          order: initial;
          margin-bottom: 30px;
        }
      }
    }
    .form__label {
      color: $grey;
    }
    .checkbox--agreement {
      font-size: 13px;
      line-height: 1.2;
    }
    .button {
      width: 100%;
      min-width: 235px;
      @media (min-width: $md5) {
        width: auto;
        margin-left: 10px;
        margin-right: 20px;
      }
      @media (min-width: 630px) {
        margin-right: 50px;
      }
    }
  }
}
