@import 'vars';
@import 'mixins';

/* Fonts */
//&display=swap&subset=cyrillic-ext
// @import url(https://fonts.googleapis.com/css?family=Inter:300,regular,500,700&display=swap&subset=cyrillic-ext);
@import 'fonts';

/* Icon font */
//@import "icons";

/* Font default */
$fontFamily: 'Jost', 'Arial', sans-serif;
$fontSize: 16;

/* Container params */
$minWidth: 320px;
$maxWidth: 1920px;
$maxWidthContainer: 1256px;

/* Media query */
$md1: 1366px;
$md2: 1024px;
$md3: 992px;
$md4: 768px;
$md5: 576px;
$md6: 480px;
$md7: 375px;

$mainColor: #000;

/* Nullification, general params */
@import 'null';
body {
  background-color: #eeeeee;
  color: $mainColor;
}

/* Wrapper */
.wrapper {
  width: 100%;
  max-width: 1920px;
  min-height: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* Container */
.container {
  max-width: $maxWidthContainer;
  margin-left: auto;
  margin-right: auto;
  padding-left: $pl;
  padding-right: $pr;
}

/* Visible-hidden class */
.vis-hid {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
}

/* Typography */
@import 'typography';

/* bem-blocks */
@import 'bem-blocks/buttons';
@import 'bem-blocks/slider-control';
@import 'bem-blocks/logo';
@import 'bem-blocks/page-nav';
@import 'bem-blocks/nav-bar';
@import 'bem-blocks/search';
@import 'bem-blocks/contacts-info';
@import 'bem-blocks/socials';
@import 'bem-blocks/product-card';
@import 'bem-blocks/form';
@import 'bem-blocks/filter';
@import 'bem-blocks/filter-trigger';
@import 'bem-blocks/breadcrumbs';
@import 'bem-blocks/pagination';
@import 'bem-blocks/view-change';
@import 'bem-blocks/counter';

/* page-blocks */
@import 'page-blocks/products-panel';

/* pages */
@import 'header';
@import 'footer';
@import 'index';
@import 'catalog';
@import 'product';
@import '404';
@import 'cart';
@import 'contacts';

:root {
  --thumbs-width: 83px;
  --thumbs-gutter: 10px;
}
