<footer class="footer">
  <div class="footer__content">
    <div class="footer__content-inner">
      <a class="footer__logo logo" href="/">
        <div class="logo__img">
          <img src="img/icons/logo.svg" alt="Логотип" />
        </div>
      </a>
      <div class="footer__nav footer-nav">
        <ul class="footer-nav__list">
          <li class="footer-nav__item">
            <h3 class="footer-nav__heading">
              <a href="#" class="footer-nav__link">О нас</a>
            </h3>
            <ul class="footer-nav__sublist">
              <li class="footer-nav__sublist-item">
                <a href="#">Корпоративная ответственность</a>
              </li>
              <li class="footer-nav__sublist-item">
                <a href="#">Вакансии</a>
              </li>
              <li class="footer-nav__sublist-item">
                <a href="#">Инвесторам</a>
              </li>
            </ul>
          </li>
          <li class="footer-nav__item">
            <h3 class="footer-nav__heading">
              <a href="#" class="footer-nav__link">Помощь и информация</a>
            </h3>
            <ul class="footer-nav__sublist">
              <li class="footer-nav__sublist-item">
                <a href="#">Отследить заказ</a>
              </li>
              <li class="footer-nav__sublist-item">
                <a href="#">Доставка и возвраты</a>
              </li>
              <li class="footer-nav__sublist-item">
                <a href="#">10% скидка для студентов</a>
              </li>
            </ul>
          </li>
          <li class="footer-nav__item">
            <h3 class="footer-nav__heading">
              <a href="#" class="footer-nav__link">Покупателям</a>
            </h3>
            <ul class="footer-nav__sublist">
              <li class="footer-nav__sublist-item">
                <a href="#">Помощь</a>
              </li>
              <li class="footer-nav__sublist-item">
                <a href="#">Как сделать заказ</a>
              </li>
              <li class="footer-nav__sublist-item">
                <a href="#">Способы оплаты</a>
              </li>
              <li class="footer-nav__sublist-item">
                <a href="#">Доставка</a>
              </li>
            </ul>
          </li>
          <li class="footer-nav__item">
            <h3 class="footer-nav__heading">
              <a href="#" class="footer-nav__link">Промокоды</a>
            </h3>
            <ul class="footer-nav__sublist">
              <li class="footer-nav__sublist-item">
                <a href="#">Возврат денежных средств</a>
              </li>
              <li class="footer-nav__sublist-item">
                <a href="#">Правила продажи</a>
              </li>
              <li class="footer-nav__sublist-item">
                <a href="#">Правила пользования торговой площадкой</a>
              </li>
              <li class="footer-nav__sublist-item">
                <a href="#">Вопросы и ответы</a>
              </li>
            </ul>
          </li>
          <li class="footer-nav__item">
            <h3 class="footer-nav__heading">
              <a href="#" class="footer-nav__link">Скидки</a>
            </h3>
            <ul class="footer-nav__sublist">
              <li class="footer-nav__sublist-item">
                <a href="#">Помощь</a>
              </li>
              <li class="footer-nav__sublist-item">
                <a href="#">Как сделать заказ</a>
              </li>
              <li class="footer-nav__sublist-item">
                <a href="#">Способы оплаты</a>
              </li>
              <li class="footer-nav__sublist-item">
                <a href="#">Доставка</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="footer__contacts contacts-info">
        <div class="contacts-info__item">
          <a href="tel:+79525525252" class="contacts-info__link contacts-info__link--phone">
            +7 952 552-52-52
          </a>
        </div>
        <div class="contacts-info__item contacts-info__item--socials socials socials--has-icon">
          <a href="#" class="socials__link socials__link--viber">
            <span class="vis-hid">Viber</span>
          </a>
          <a href="#" class="socials__link socials__link--whatsapp">
            <span class="vis-hid">Whatsapp</span>
          </a>
          <a href="#" class="socials__link socials__link--telegram">
            <span class="vis-hid">Telegram</span>
          </a>
        </div>
        <div class="contacts-info__item contacts-info__item--work-schedule">
          Время работы: с 9:00 до 20:00
        </div>
        <div class="contacts-info__item">
          <a
            href="mailto:mr.driskell@mail.ru?subject=вопрос"
            class="contacts-info__link contacts-info__link--mail"
          >
            Mr.Driskell@mail.ru
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="footer__bottom-inner">
      <span class="footer__copyright">© ООО «Mr.Driskell», 2013-2022</span>
      <ul class="footer__bottom-links">
        <li>
          <a href="#">Политика конфиденциальности</a>
        </li>
        <li>
          <a href="#">Правила и условия</a>
        </li>
        <li>
          <a href="#">Лицензия</a>
        </li>
        <li>
          <a href="#">Публичная оферта</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
