<header class="header">
  <div class="header__inner">
    <div class="header__top">
      <div class="header__contacts contacts-info">
        <div class="contacts-info__item">
          <a href="tel:+79525525252" class="contacts-info__link contacts-info__link--phone">
            +7 952 552-52-52
          </a>
        </div>
        <div class="contacts-info__item">
          <a
            href="mailto:mr.driskell@mail.ru?subject=вопрос"
            class="contacts-info__link contacts-info__link--mail"
          >
            Mr.Driskell@mail.ru
          </a>
        </div>
        <div class="contacts-info__item contacts-info__item--socials socials">
          <a href="#" class="socials__link">Viber</a>
          <a href="#" class="socials__link">Whats App</a>
          <a href="#" class="socials__link">Telegramm</a>
        </div>
      </div>
      <button id="menu" class="header__dropdown-button">
        <span class="header__dropdown-button-text dropdown-button-text--open vis-hid">
          Открыть основное меню
        </span>
        <span class="header__dropdown-button-text dropdown-button-text--close vis-hid">
          Закрыть основное меню
        </span>
        <span class="burger-icon">
          <span></span>
        </span>
      </button>
      <a class="header__logo logo" href="/">
        <div class="logo__img">
          <img src="img/icons/logo.svg" alt="Логотип" />
        </div>
      </a>
      <button class="header__search-trigger search-button">
        <span class="vis-hid">Открыть строку поиска</span>
      </button>
      <form class="search header__search" name="search-form" action="#">
        <div class="search__control">
          <input class="search__input" placeholder="Поиск" autocomplete="off" />
          <button class="search-button search__button">
            <span class="vis-hid">Поиск</span>
          </button>
        </div>
      </form>
      <div class="header__nav-bar nav-bar">
        <div class="nav-bar__item nav-bar__item--mobile">
          <a href="/cart.html" class="nav-bar__link">
            <span class="nav-bar__price">
              37 280
              <span>₽</span>
            </span>
            <div class="nav-bar__icon nav-bar__icon--basket nav-bar__icon--has-notify">
              <span class="nav-bar__notify">17</span>
            </div>
          </a>
        </div>
        <div class="nav-bar__item">
          <a href="#" class="nav-bar__link">
            <div class="nav-bar__icon nav-bar__icon--favorite"></div>
          </a>
        </div>
        <div class="nav-bar__item">
          <a href="#" class="nav-bar__link">
            <div class="nav-bar__icon nav-bar__icon--login"></div>
          </a>
        </div>
      </div>
    </div>
    <div class="header__bottom">
      <button id="catalog" class="header__dropdown-button">
        <span>Каталог</span>
        <span class="burger-icon">
          <span></span>
        </span>
      </button>
      <div class="header__catalog catalog-dropdown" data-tabs="menu-tab">
        <div class="catalog-dropdown__content">
          <div class="catalog-dropdown__tabs">
            <button class="catalog-dropdown__button">По категории</button>
            <button class="catalog-dropdown__button">По брендам</button>
          </div>
          <div class="catalog-dropdown__item">
            <ul class="catalog-dropdown__list">
              <li class="catalog-dropdown__list-item">
                <a href="/catalog.html" class="catalog-dropdown__link">Новинки</a>
              </li>
              <li class="catalog-dropdown__list-item">
                <a href="/catalog.html" class="catalog-dropdown__link">Наборы для татуировок</a>
              </li>
              <li class="catalog-dropdown__list-item">
                <a href="/catalog.html" class="catalog-dropdown__link">Тату машинки</a>
              </li>
              <li class="catalog-dropdown__list-item">
                <a href="/catalog.html" class="catalog-dropdown__link">Тату краски</a>
              </li>
              <li class="catalog-dropdown__list-item">
                <a href="/catalog.html" class="catalog-dropdown__link">Тату иглы</a>
              </li>
              <li class="catalog-dropdown__list-item">
                <a href="/catalog.html" class="catalog-dropdown__link">Тату держатели</a>
              </li>
            </ul>
            <ul class="catalog-dropdown__list">
              <li class="catalog-dropdown__list-item">
                <a href="/catalog.html" class="catalog-dropdown__link">Тату наконечники</a>
              </li>
              <li class="catalog-dropdown__list-item">
                <a href="/catalog.html" class="catalog-dropdown__link">Блоки питания</a>
              </li>
              <li class="catalog-dropdown__list-item">
                <a href="/catalog.html" class="catalog-dropdown__link">Педали и провода</a>
              </li>
              <li class="catalog-dropdown__list-item">
                <a href="/catalog.html" class="catalog-dropdown__link">Аксессуары</a>
              </li>
              <li class="catalog-dropdown__list-item">
                <a href="/catalog.html" class="catalog-dropdown__link">Принтеры и планшеты</a>
              </li>
              <li class="catalog-dropdown__list-item">
                <a href="/catalog.html" class="catalog-dropdown__link">
                  Защита, ёмкости, расходные материалы
                </a>
              </li>
            </ul>
          </div>
          <div class="catalog-dropdown__item">
            <ul class="catalog-dropdown__list">
              <li class="catalog-dropdown__list-item">
                <a href="/catalog.html" class="catalog-dropdown__link">Aliance</a>
              </li>
              <li class="catalog-dropdown__list-item">
                <a href="/catalog.html" class="catalog-dropdown__link">Aloe Tattoo</a>
              </li>
              <li class="catalog-dropdown__list-item">
                <a href="/catalog.html" class="catalog-dropdown__link">Anchored by Nikko Hurtado</a>
              </li>
              <li class="catalog-dropdown__list-item">
                <a href="/catalog.html" class="catalog-dropdown__link">BC Invention Comrany</a>
              </li>
              <li class="catalog-dropdown__list-item">
                <a href="/catalog.html" class="catalog-dropdown__link">Beauty Bit</a>
              </li>
              <li class="catalog-dropdown__list-item">
                <a href="/catalog.html" class="catalog-dropdown__link">Bishop Rotary</a>
              </li>
              <li class="catalog-dropdown__list-item">
                <a href="/catalog.html" class="catalog-dropdown__link">Burlak Tattoo Machines</a>
              </li>
              <li class="catalog-dropdown__list-item">
                <a href="/catalog.html" class="catalog-dropdown__link">Cheyenne HAWK</a>
              </li>
              <li class="catalog-dropdown__list-item">
                <a href="/catalog.html" class="catalog-dropdown__link">Critical Tattoo</a>
              </li>
              <li class="catalog-dropdown__list-item">
                <a href="/catalog.html" class="catalog-dropdown__link">Dermalize Protective</a>
              </li>
              <li class="catalog-dropdown__list-item">
                <a href="/catalog.html" class="catalog-dropdown__link">Dynamic Colors</a>
              </li>
            </ul>
            <ul class="catalog-dropdown__list">
              <li class="catalog-dropdown__list-item">
                <a href="/catalog.html" class="catalog-dropdown__link">EGO Bez's Rotary</a>
              </li>
              <li class="catalog-dropdown__list-item">
                <a href="/catalog.html" class="catalog-dropdown__link">Eikon Device Inc.</a>
              </li>
              <li class="catalog-dropdown__list-item">
                <a href="/catalog.html" class="catalog-dropdown__link">Electrum</a>
              </li>
              <li class="catalog-dropdown__list-item">
                <a href="/catalog.html" class="catalog-dropdown__link">EQUALISER by Kwadron</a>
              </li>
              <li class="catalog-dropdown__list-item">
                <a href="/catalog.html" class="catalog-dropdown__link">Eternal</a>
              </li>
              <li class="catalog-dropdown__list-item">
                <a href="/catalog.html" class="catalog-dropdown__link">Excalibur</a>
              </li>
              <li class="catalog-dropdown__list-item">
                <a href="/catalog.html" class="catalog-dropdown__link">Fantasia Art Supply</a>
              </li>
              <li class="catalog-dropdown__list-item">
                <a href="/catalog.html" class="catalog-dropdown__link">FKirons</a>
              </li>
              <li class="catalog-dropdown__list-item">
                <a href="/catalog.html" class="catalog-dropdown__link">Hanafy</a>
              </li>
              <li class="catalog-dropdown__list-item">
                <a href="/catalog.html" class="catalog-dropdown__link">HM Tattoo Machines</a>
              </li>
              <li class="catalog-dropdown__list-item">
                <a href="/catalog.html" class="catalog-dropdown__link">Ink Machines</a>
              </li>
            </ul>
            <ul class="catalog-dropdown__list">
              <li class="catalog-dropdown__list-item">
                <a href="/catalog.html" class="catalog-dropdown__link">InkJecta Tattoo Machine</a>
              </li>
              <li class="catalog-dropdown__list-item">
                <a href="/catalog.html" class="catalog-dropdown__link">Intenze</a>
              </li>
              <li class="catalog-dropdown__list-item">
                <a href="/catalog.html" class="catalog-dropdown__link">JACK & ALEXX</a>
              </li>
              <li class="catalog-dropdown__list-item">
                <a href="/catalog.html" class="catalog-dropdown__link">Kashalot Rotary</a>
              </li>
              <li class="catalog-dropdown__list-item">
                <a href="/catalog.html" class="catalog-dropdown__link">Kuro Sumi</a>
              </li>
              <li class="catalog-dropdown__list-item">
                <a href="/catalog.html" class="catalog-dropdown__link">KWADRON™</a>
              </li>
              <li class="catalog-dropdown__list-item">
                <a href="/catalog.html" class="catalog-dropdown__link">Lauro Paolini</a>
              </li>
              <li class="catalog-dropdown__list-item">
                <a href="/catalog.html" class="catalog-dropdown__link">Lithuanian Irons</a>
              </li>
              <li class="catalog-dropdown__list-item">
                <a href="/catalog.html" class="catalog-dropdown__link">Lucky Supply</a>
              </li>
              <li class="catalog-dropdown__list-item">
                <a href="/catalog.html" class="catalog-dropdown__link">Mercator Medical</a>
              </li>
              <li class="catalog-dropdown__list-item">
                <a href="/catalog.html" class="catalog-dropdown__link">Millenium Mom's Ink</a>
              </li>
            </ul>
            <ul class="catalog-dropdown__list">
              <li class="catalog-dropdown__list-item">
                <a href="/catalog.html" class="catalog-dropdown__link">NEMESIS</a>
              </li>
              <li class="catalog-dropdown__list-item">
                <a href="/catalog.html" class="catalog-dropdown__link">Nocturnal Tattoo Ink</a>
              </li>
              <li class="catalog-dropdown__list-item">
                <a href="/catalog.html" class="catalog-dropdown__link">Panthera</a>
              </li>
              <li class="catalog-dropdown__list-item">
                <a href="/catalog.html" class="catalog-dropdown__link">Perma Blend</a>
              </li>
              <li class="catalog-dropdown__list-item">
                <a href="/catalog.html" class="catalog-dropdown__link">Precision Needles</a>
              </li>
              <li class="catalog-dropdown__list-item">
                <a href="/catalog.html" class="catalog-dropdown__link">Precision Tattoo Supply</a>
              </li>
              <li class="catalog-dropdown__list-item">
                <a href="/catalog.html" class="catalog-dropdown__link">Premier Products</a>
              </li>
              <li class="catalog-dropdown__list-item">
                <a href="/catalog.html" class="catalog-dropdown__link">Radiant</a>
              </li>
              <li class="catalog-dropdown__list-item">
                <a href="/catalog.html" class="catalog-dropdown__link">Reprofx® Spirit™</a>
              </li>
              <li class="catalog-dropdown__list-item">
                <a href="/catalog.html" class="catalog-dropdown__link">Right Stuuf</a>
              </li>
              <li class="catalog-dropdown__list-item">
                <a href="/catalog.html" class="catalog-dropdown__link">S8TATTOO</a>
              </li>
            </ul>
            <ul class="catalog-dropdown__list">
              <li class="catalog-dropdown__list-item">
                <a href="/catalog.html" class="catalog-dropdown__link">Skinductor</a>
              </li>
              <li class="catalog-dropdown__list-item">
                <a href="/catalog.html" class="catalog-dropdown__link">Starbrite</a>
              </li>
              <li class="catalog-dropdown__list-item">
                <a href="/catalog.html" class="catalog-dropdown__link">Tattoorevive</a>
              </li>
              <li class="catalog-dropdown__list-item">
                <a href="/catalog.html" class="catalog-dropdown__link">TURANIUM Fabrika Rotary</a>
              </li>
              <li class="catalog-dropdown__list-item">
                <a href="/catalog.html" class="catalog-dropdown__link">UNI–CART</a>
              </li>
              <li class="catalog-dropdown__list-item">
                <a href="/catalog.html" class="catalog-dropdown__link">Vlad Blad</a>
              </li>
              <li class="catalog-dropdown__list-item">
                <a href="/catalog.html" class="catalog-dropdown__link">World Famous Bala</a>
              </li>
              <li class="catalog-dropdown__list-item">
                <a href="/catalog.html" class="catalog-dropdown__link">World Famous Tattoo Ink</a>
              </li>
              <li class="catalog-dropdown__list-item">
                <a href="/catalog.html" class="catalog-dropdown__link">2K2BT</a>
              </li>
              <li class="catalog-dropdown__list-item">
                <a href="/catalog.html" class="catalog-dropdown__link">БРОВИ</a>
              </li>
              <li class="catalog-dropdown__list-item">
                <a href="/catalog.html" class="catalog-dropdown__link">КРАСКА Tattoo Ink</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <form class="header__search search" name="search-form" action="#">
        <div class="search__control">
          <input class="search__input" placeholder="Поиск" autocomplete="off" />
          <button class="search-button search__button">
            <span class="vis-hid">Поиск</span>
          </button>
        </div>
        <div style="display: none" class="search__suggestion">
          <div class="search__suggestion-content">
            <ul class="suggestion-list">
              <li class="suggestion-list__item"></li>
              <li class="suggestion-list__item"></li>
              <li class="suggestion-list__item"></li>
            </ul>
          </div>
          <a class="search__extended-search-link"></a>
        </div>
      </form>
      <div class="header__nav page-nav">
        <ul class="page-nav__list page-nav__list--decorate">
          <li class="page-nav__item">
            <a href="#" class="page-nav__link">Промокоды</a>
          </li>
          <li class="page-nav__item">
            <a href="#" class="page-nav__link">Скидки</a>
          </li>
          <li class="page-nav__item">
            <a href="#" class="page-nav__link">Помощь</a>
          </li>
          <li class="page-nav__item">
            <a href="#" class="page-nav__link">О нас</a>
          </li>
          <li class="page-nav__item">
            <a href="#" class="page-nav__link">Контакты</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="header__dropdown-menu dropdown-menu">
      <div class="dropdown-menu__inner">
        <nav class="dropdown-menu__nav header-nav">
          <ul class="header-nav__list">
            <li class="header-nav__item header-nav__item--arrow">
              <button>Каталог</button>
              <ul class="header-nav__sub-list">
                <li class="header-nav__sub-item">
                  <a href="#" class="header-nav__sub-link">Новинки</a>
                </li>
                <li class="header-nav__sub-item">
                  <a href="#" class="header-nav__sub-link">Наборы для татуировок</a>
                </li>
                <li class="header-nav__sub-item">
                  <a href="#" class="header-nav__sub-link">Тату машинки</a>
                </li>
              </ul>
            </li>
            <li class="header-nav__item">
              <a href="#" class="header-nav__link">Контакты</a>
            </li>
            <li class="header-nav__item">
              <a href="#" class="header-nav__link">Промокоды</a>
            </li>
            <li class="header-nav__item">
              <a href="#" class="header-nav__link">Скидки</a>
            </li>
          </ul>
        </nav>
        <div class="dropdown-menu__contacts contacts-info">
          <div class="contacts-info__item">
            <a href="tel:+79525525252" class="contacts-info__link contacts-info__link--phone">
              +7 952 552-52-52
            </a>
          </div>
          <div class="contacts-info__item contacts-info__item--socials socials socials--has-icon">
            <a href="#" class="socials__link socials__link--viber">
              <span class="vis-hid">Viber</span>
            </a>
            <a href="#" class="socials__link socials__link--whatsapp">
              <span class="vis-hid">Whatsapp</span>
            </a>
            <a href="#" class="socials__link socials__link--telegram">
              <span class="vis-hid">Telegram</span>
            </a>
          </div>
          <div class="contacts-info__item contacts-info__item--work-schedule">
            Время работы: с 9:00 до 20:00 по мск
          </div>
          <div class="contacts-info__item">
            <a
              href="mailto:mr.driskell@mail.ru?subject=вопрос"
              class="contacts-info__link contacts-info__link--mail"
            >
              Mr.Driskell@mail.ru
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
