<head>
  <title>@@title</title>
  <meta charset="UTF-8" />
  <meta name="format-detection" content="telephone=no" />
  <link rel="stylesheet" href="css/style.min.css" />
  <link rel="icon" href="favicon.ico" />
  <link rel="apple-touch-icon" href="img/icons/favicon/180X180.png" />
  <link rel="manifest" href="manifest.json" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
