@charset "UTF-8";

/* Fonts */

@font-face {
  font-family: Jost;
  font-display: swap;
  src: url("../fonts/Jost-Light.woff2") format("woff2"), url("../fonts/Jost-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Jost;
  font-display: swap;
  src: url("../fonts/Jost-Regular.woff2") format("woff2"), url("../fonts/Jost-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Jost;
  font-display: swap;
  src: url("../fonts/Jost-Medium.woff2") format("woff2"), url("../fonts/Jost-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Jost;
  font-display: swap;
  src: url("../fonts/Jost-SemiBold.woff2") format("woff2"), url("../fonts/Jost-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Jost;
  font-display: swap;
  src: url("../fonts/Jost-Bold.woff2") format("woff2"), url("../fonts/Jost-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Forum;
  font-display: swap;
  src: url("../fonts/Forum.woff2") format("woff2"), url("../fonts/Forum.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

/* Icon font */

/* Font default */

/* Container params */

/* Media query */

/* Nullification, general params */

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 16px;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Jost", "Arial", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Jost", "Arial", sans-serif;
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #eeeeee;
  color: #000;
}

/* Wrapper */

.wrapper {
  width: 100%;
  max-width: 1920px;
  min-height: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* Container */

.container {
  max-width: 1256px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* Visible-hidden class */

.vis-hid {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
}

/* Typography */

/* Fonts */

.page-heading {
  font-family: "Forum", cursive;
  line-height: 1;
  font-size: 32px;
  margin-bottom: 20px;
}

/* bem-blocks */

/* Button */

.button {
  z-index: 0;
  position: relative;
  display: inline-block;
  padding: 0.9em 1.3em;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  user-select: none;
  transition: background-color 0.1s linear, color 0.1s linear;
  border: 2px solid #bb8c5f;
  outline: none;
}

.button--sm {
  padding: 0.4em 0.9em;
}

.button--orange {
  color: #ffffff;
  background-color: #524336;
}

.button--orange:hover,
.button--orange:focus {
  background-color: #645242;
}

.button--orange:hover .button__corner::before,
.button--orange:focus .button__corner::before {
  border-right-color: #645242;
  border-left-color: #645242;
}

.button--orange:active {
  background-color: #43362c;
}

.button--orange:active .button__corner::before {
  border-right-color: #43362c;
  border-left-color: #43362c;
}

.button--light {
  color: #bb8c5f;
  background-color: #eeeeee;
}

.button--light:hover,
.button--light:focus {
  color: #ffffff;
  background-color: #bb8c5f;
}

.button--light:hover .button__corner::before,
.button--light:focus .button__corner::before {
  border-right-color: #bb8c5f;
  border-left-color: #bb8c5f;
}

.button--light:active {
  background-color: #b37f4d;
}

.button--light:active .button__corner::before {
  border-right-color: #b37f4d;
  border-left-color: #b37f4d;
}

.button--light .button__corner--left::before {
  border-right: 16px solid #eeeeee;
}

.button--light .button__corner--left::after {
  border-right: 20px solid #bb8c5f;
}

.button--light .button__corner--right::before {
  border-left: 16px solid #eeeeee;
}

.button--light .button__corner--right::after {
  border-left: 20px solid #bb8c5f;
}

.button--transparent {
  border: none;
  color: #bb8c5f;
  text-decoration: underline;
}

.button--transparent:hover {
  text-decoration: underline;
  color: #90663d;
}

.button--transparent:active,
.button--transparent:focus {
  color: #524336;
}

.button--white-transparent {
  color: #bb8c5f;
  background-color: rgba(255, 255, 255, 0.565);
  border: none;
  text-decoration: underline;
}

.button--white-transparent:hover,
.button--white-transparent:focus-visible {
  text-decoration: underline;
  color: #90663d;
  background-color: rgba(255, 255, 255, 0.665);
}

.button--white-transparent:active {
  color: #524336;
  background-color: rgba(255, 255, 255, 0.765);
}

.button__corner {
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button__corner::before,
.button__corner::after {
  content: "";
  position: absolute;
  top: 50%;
  transition: border-color 0.1s linear;
}

.button__corner::before {
  z-index: 2;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}

.button__corner::after {
  z-index: 1;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.button__corner--left::before {
  left: 0;
  border-right: 16px solid #524336;
  transform: translate(-100%, -50%);
}

.button__corner--left::after {
  left: 0;
  border-right: 20px solid #bb8c5f;
  transform: translate(-100%, -50%);
}

.button__corner--right::before {
  right: 0;
  border-left: 16px solid #524336;
  border-right: 0;
  transform: translate(100%, -50%);
}

.button__corner--right::after {
  right: 0;
  border-left: 20px solid #bb8c5f;
  transform: translate(100%, -50%);
}

.slider-pagination {
  display: inline-grid;
  grid-auto-flow: column;
  gap: 15px;
}

.slider-pagination--brands {
  position: absolute;
  bottom: -48px;
  left: 50%;
  transform: translateX(-50%);
}

.slider-pagination .swiper-pagination-bullet {
  position: relative;
  width: 14px;
  height: 14px;
  border: 1px solid #524336;
  cursor: pointer;
}

.slider-pagination .swiper-pagination-bullet-active::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  background-color: #bb8c5f;
  transform: translate(-50%, -50%);
}

/* Slider-nav */

.slider-nav {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background-color: #eeeeee;
  border: 1px solid #bb8c5f;
}

.slider-nav::before {
  content: "";
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

.slider-nav:active {
  border: 1px solid #524336;
}

.slider-nav:active.swiper-button-disabled {
  border: 1px solid #bb8c5f;
}

.slider-nav.swiper-button-disabled {
  opacity: 0.5;
}

.slider-nav.swiper-button-disabled {
  cursor: not-allowed;
}

.slider-nav--left::before {
  border-right: 10px solid #bb8c5f;
}

.slider-nav--left:active::before {
  border-right: 10px solid #524336;
}

.slider-nav--right::before {
  border-left: 10px solid #bb8c5f;
}

.slider-nav--right:active::before {
  border-left: 10px solid #524336;
}

/* Logo */

.logo {
  user-select: none;
}

.logo__img img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Page-nav */

.page-nav__list--decorate .page-nav__link {
  position: relative;
}

.page-nav__list--decorate .page-nav__link::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 20px;
  bottom: -100%;
  left: 50%;
  transform: translateX(-50%);
  background-image: url(../img/icons/page-menu-deco-line.svg);
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0;
  transition: opacity 0.2s linear;
}

.page-nav__list--decorate .page-nav__link:hover::before,
.page-nav__list--decorate .page-nav__link:focus::before {
  opacity: 1;
}

.page-nav__link {
  font-family: inherit;
  color: #ffffff;
  white-space: normal;
  transition: color 0.1s linear;
}

.page-nav__link:hover,
.page-nav__link:focus {
  color: #bb8c5f;
}

/* Nav-bar */

.nav-bar {
  display: flex;
}

.nav-bar__item {
  display: none;
  align-items: center;
  visibility: hidden;
}

.nav-bar__item--mobile {
  display: flex;
  visibility: visible;
}

.nav-bar__link {
  display: flex;
  align-items: center;
  color: #ffffff;
}

.nav-bar__icon {
  position: relative;
  width: 28px;
  height: 28px;
  background-repeat: no-repeat;
  background-size: contain;
}

.nav-bar__icon--has-notify {
  margin-right: 11px;
}

.nav-bar__icon--basket {
  background-image: url(../img/icons/nav-bar/cart.svg);
}

.nav-bar__icon--favorite {
  background-image: url(../img/icons/nav-bar/heart.svg);
}

.nav-bar__icon--login {
  background-image: url(../img/icons/nav-bar/login.svg);
}

.nav-bar__notify {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -10px;
  right: -11px;
  width: 24px;
  height: 21px;
  background-color: #bb8c5f;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.5;
}

.nav-bar__price {
  margin-right: 6px;
  white-space: nowrap;
}

/* Search */

.search {
  position: relative;
}

.search__control {
  position: relative;
}

.search__input {
  width: 100%;
  font-size: 15px;
  line-height: 1.5;
  padding: 10px 10px 10px 46px;
  border: 1px solid #524336;
  background-color: transparent;
  color: #636b78;
  outline: none;
}

.search__input:focus {
  color: #ffffff;
  border: 1px solid #bb8c5f;
}

.search__button {
  position: absolute;
  top: 8px;
  left: 8px;
}

/* Search-button */

.search-button {
  display: block;
  width: 28px;
  height: 28px;
  background-image: url(../img/icons/search.svg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
}

.search-button:hover,
.search-button:focus {
  opacity: 1;
}

/* Contacts-info */

.contacts-info--dark .contacts-info__link {
  color: #3e424b;
}

.contacts-info--dark .contacts-info__link--phone::before {
  background-image: url(../img/icons/phone-dark.svg);
}

.contacts-info--dark .contacts-info__link--mail::before {
  background-image: url(../img/icons/mail-dark.svg);
}

.contacts-info__item {
  display: flex;
  align-items: center;
}

.contacts-info__item--socials {
  font-size: 12px;
}

.contacts-info__item--work-schedule {
  font-size: 17px;
  line-height: 1.5;
  color: #636b78;
  white-space: normal;
}

.contacts-info__link {
  display: flex;
  align-items: center;
  color: #ffffff;
  line-height: 1.5;
  white-space: nowrap;
}

.contacts-info__link:hover {
  color: #bb8c5f;
}

.contacts-info__link::before {
  content: "";
  display: inline-block;
  width: 28px;
  height: 28px;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.contacts-info__link--phone::before {
  background-image: url(../img/icons/phone.svg);
}

.contacts-info__link--mail::before {
  background-image: url(../img/icons/mail.svg);
}

/* Socials */

.socials {
  display: inline-grid;
  grid-auto-flow: column;
  justify-content: start;
  gap: 10px;
  /* Добавлять мод-р, если будут ссылки с иконками */
}

.socials--has-icon .socials__link::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
}

.socials--has-icon .socials__link:hover::before,
.socials--has-icon .socials__link:focus-visible::before {
  filter: brightness(0.86);
}

.socials--icon-20px .socials__link::before {
  width: 30px;
  height: 30px;
}

.socials--dark .socials__link {
  color: #3e424b;
}

.socials__link {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  align-items: center;
  column-gap: 8px;
  color: #ffffff;
  white-space: nowrap;
}

.socials__link:hover,
.socials__link:focus-visible {
  color: #bb8c5f;
}

.socials__link--viber::before {
  background-image: url(../img/icons/viber.svg);
}

.socials__link--whatsapp::before {
  background-image: url(../img/icons/whatsapp.svg);
}

.socials__link--telegram::before {
  background-image: url(../img/icons/telegram.svg);
}

/* Product-card */

.product-card {
  position: relative;
  background-color: #f5f5f5;
}

.product-card__wrapper {
  display: grid;
  height: 100%;
  position: relative;
  background-color: inherit;
}

.product-card__link {
  display: block;
  color: inherit;
}

@supports (display: contents) {
  .product-card__link {
    display: contents;
  }
}

.product-card__link::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.product-card__link:focus-visible {
  outline: 0;
}

.product-card__top {
  position: relative;
  z-index: 0;
}

.product-card__bottom {
  display: grid;
  align-items: end;
}

.product-card__bottom-inner {
  display: block;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  background-color: #f5f5f5;
}

.product-card__product-info {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
}

.product-card__image {
  position: relative;
  display: block;
  margin-bottom: 14px;
}

.product-card__image::before {
  content: "";
  display: block;
  width: 100%;
  position: relative;
  padding-top: 100%;
}

.product-card__image img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  object-fit: contain;
}

.product-card__product-name {
  font-size: 17px;
  overflow: hidden;
  line-height: 1.4;
  margin-bottom: 10px;
}

.product-card__price {
  margin-right: 10px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.3;
  color: #bb8c5f;
}

.product-card__old-price {
  font-size: 17px;
  line-height: 1.3;
  color: #636b78;
  text-decoration: line-through;
}

.product-card__button {
  width: 100%;
  padding: 0.6em 0.8em;
  font-size: 17px;
  line-height: 1;
}

.product-card__button:first-child {
  margin-top: 2px;
}

.product-card__button .button__corner {
  display: none;
}

.product-card__tips {
  z-index: 1;
  position: absolute;
  display: grid;
  row-gap: 6px;
  top: 0;
  left: 0;
  padding: 15px 10px;
}

.product-card__tips-row:nth-child(n+5) {
  display: none;
}

.product-card__favorites {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 28px;
  height: 28px;
  background-image: url(../../img/icons/product-card/heart-empty.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.product-card__favorites::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  background-color: transparent;
  transform: translate(-50%, -50%);
}

.product-card__favorites:hover {
  background-image: url(../../img/icons/product-card/heart-fill.svg);
  opacity: 1;
}

.product-card__favorites:focus-visible {
  border: 1px solid #bb8c5f;
}

.product-card__favorites:active {
  opacity: 0.9;
}

/* Tip */

.tip {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 3px 6px;
  background-color: #f5f5f5;
  user-select: none;
  font-size: 14px;
  line-height: 1.2;
  border: 1px solid transparent;
}

.tip--new {
  color: #bb8c5f;
  border: 1px solid #bb8c5f;
}

.tip--hit {
  color: #755fbb;
  border: 1px solid #755fbb;
}

.tip--action {
  color: #5fbba3;
  border: 1px solid #5fbba3;
}

.tip--out {
  color: #636b78;
  border: 1px solid #636b78;
}

.tip--sale {
  color: #c82a2a;
  border: 1px solid #c82a2a;
}

/* Form */

.form__label {
  display: block;
  font-size: 17px;
  line-height: 1.4;
}

.form__group-fields--num-hide-arrows input::-webkit-outer-spin-button,
.form__group-fields--num-hide-arrows input::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
}

.form__group-fields--num-hide-arrows input[type=number] {
  -moz-appearance: textfield;
}

.form__group-fields--num-hide-arrows input[type=number]:hover,
.form__group-fields--num-hide-arrows input[type=number]:focus {
  -moz-appearance: number-input;
}

/* Field */

.field {
  padding: 8px 14px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 1.5;
  border: 1px solid #524336;
  outline: none;
  transition: box-shadow 0.2s linear, border-color 0.2s linear;
}

.field:hover,
.field:focus {
  border-color: #bb8c5f;
  box-shadow: 0 0 2px #bb8c5f;
}

.field--full-width {
  width: 100%;
}

/* Checkbox */

.checkbox {
  position: relative;
  cursor: pointer;
}

.checkbox--red .checkbox__box {
  background-color: #eb5757;
  box-shadow: none;
}

.checkbox--red .checkbox__input:checked + .checkbox__box {
  background-color: #eb5757;
  box-shadow: 0 0 0 1px #eb5757;
}

.checkbox--red .checkbox__input:focus-visible + .checkbox__box {
  background-color: #eb5757;
  box-shadow: 0 0 5px 1px #eb5757;
}

.checkbox--yellow .checkbox__box {
  background-color: #f2c94c;
  box-shadow: none;
}

.checkbox--yellow .checkbox__input:checked + .checkbox__box {
  background-color: #f2c94c;
  box-shadow: 0 0 0 1px #f2c94c;
}

.checkbox--yellow .checkbox__input:focus-visible + .checkbox__box {
  background-color: #f2c94c;
  box-shadow: 0 0 5px 1px #f2c94c;
}

.checkbox--green .checkbox__box {
  background-color: #27ae60;
  box-shadow: none;
}

.checkbox--green .checkbox__input:checked + .checkbox__box {
  background-color: #27ae60;
  box-shadow: 0 0 0 1px #27ae60;
}

.checkbox--green .checkbox__input:focus-visible + .checkbox__box {
  background-color: #27ae60;
  box-shadow: 0 0 5px 1px #27ae60;
}

.checkbox--blue .checkbox__box {
  background-color: #2f80ed;
  box-shadow: none;
}

.checkbox--blue .checkbox__input:checked + .checkbox__box {
  background-color: #2f80ed;
  box-shadow: 0 0 0 1px #2f80ed;
}

.checkbox--blue .checkbox__input:focus-visible + .checkbox__box {
  background-color: #2f80ed;
  box-shadow: 0 0 5px 1px #2f80ed;
}

.checkbox--pink .checkbox__box {
  background-color: #ef5da8;
  box-shadow: none;
}

.checkbox--pink .checkbox__input:checked + .checkbox__box {
  background-color: #ef5da8;
  box-shadow: 0 0 0 1px #ef5da8;
}

.checkbox--pink .checkbox__input:focus-visible + .checkbox__box {
  background-color: #ef5da8;
  box-shadow: 0 0 5px 1px #ef5da8;
}

.checkbox--grey-dark .checkbox__box {
  background-color: #333333;
  box-shadow: none;
}

.checkbox--grey-dark .checkbox__input:checked + .checkbox__box {
  background-color: #333333;
  box-shadow: 0 0 0 1px #333333;
}

.checkbox--grey-dark .checkbox__input:focus-visible + .checkbox__box {
  background-color: #333333;
  box-shadow: 0 0 5px 1px #333333;
}

.checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
  /* Checked */
  /* Focused */
  /* Disabled */
}

.checkbox__input:checked + .checkbox__box {
  background-color: #bb8c5f;
  box-shadow: 0 0 0 1px #bb8c5f;
  background-image: url(../../img/checkbox/check.svg);
}

.checkbox__input:focus-visible + .checkbox__box {
  box-shadow: 0 0 0 1px #bb8c5f, 0 0 0 2px #524336;
}

.checkbox__input:disabled + .checkbox__box {
  box-shadow: 0 0 0 1px #9b9b9b;
  background-color: #ffffff;
}

.checkbox__input:checked:disabled + .checkbox__box {
  background-color: #9b9b9b;
}

.checkbox__box {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 0 1px #bb8c5f;
}

/* Radio */

.radio {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  /* Active */
  /* Disabled */
}

.radio__input {
  position: absolute;
  appearance: none;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
  /* Checked */
  /* Active */
  /* Focused */
  /* Disabled */
  /* не уверен что нужно, тк не знаю 
  можно ли с клавиатуры переключатся 
  с выключенного на работающий радио-баттон */
}

.radio__input:checked + .radio__box::before {
  background-color: #bb8c5f;
  width: 10px;
  height: 10px;
}

.radio__input:active + .radio__box::before {
  background-color: #bb8c5f;
  width: 12px;
  height: 12px;
}

.radio__input:active:disabled + .radio__box::before {
  background-color: #ffffff;
}

.radio__input:active:checked:disabled + .radio__box::before {
  background-color: #9b9b9b;
}

.radio__input:focus-visible + .radio__box {
  box-shadow: 0 0 3px 0 #524336;
}

.radio__input:disabled + .radio__box {
  border: 2px solid #9b9b9b;
  background-color: #ffffff;
}

.radio__input:disabled + .radio__box:hover {
  box-shadow: none;
}

.radio__input:checked:disabled + .radio__box::before {
  background-color: #9b9b9b;
  width: 10px;
  height: 10px;
}

.radio__box {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: 2px solid #bb8c5f;
  border-radius: 50%;
  transition: box-shadow 0.1s linear;
}

.radio__box:hover {
  box-shadow: 0 0 2px 0 #bb8c5f;
}

.radio__box::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.radio:active::before {
  background-color: #bb8c5f;
  width: 12px;
  height: 12px;
}

.radio:disabled {
  border: 2px solid #bdbdbd;
  background-color: #ffffff;
  box-shadow: none;
}

.radio:disabled::before {
  background-color: #ffffff;
}

.radio:checked:disabled::before {
  background-color: #bdbdbd;
  width: 10px;
  height: 10px;
}

/* Switch */

.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 21px;
}

.switch__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
}

.switch__input:checked + .switch__slider {
  background-color: #bb8c5f;
}

.switch__input:checked + .switch__slider::before {
  transform: translateX(15px);
}

.switch__input:focus + .switch__slider {
  box-shadow: 0 0 1px #bb8c5f;
}

.switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #d0d0d0;
  transition: 0.4s;
}

.switch__slider::before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 3px;
  bottom: 3px;
  background-color: #ffffff;
  transition: 0.4s;
}

/* Filter */

.filter__wrapper-for-scroll {
  overflow: auto;
}

.filter__group {
  border-bottom: 1px solid #d0d0d0;
}

.filter__group--delivery .group-filter__label {
  display: flex;
  align-items: center;
}

.filter__group--delivery .group-filter__input {
  margin-right: 20px;
}

.filter__group--mobile {
  position: relative;
  padding: 20px;
  border-bottom: 1px solid #636b78;
}

.filter__heading {
  font-size: 22px;
  font-weight: 500;
}

.filter__close-icon {
  position: absolute;
  right: 20px;
  top: 50%;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  transform: translateY(-50%);
}

.filter__close-icon:hover,
.filter__close-icon:active {
  opacity: 1;
}

.filter__close-icon::before,
.filter__close-icon::after {
  position: absolute;
  top: 0;
  content: "";
  height: 100%;
  width: 2px;
  background-color: #333;
}

.filter__close-icon::before {
  transform: rotate(45deg);
}

.filter__close-icon::after {
  transform: rotate(-45deg);
}

/* Group-filter */

.group-filter--switcher .group-filter__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.group-filter--without-arrow .group-filter__top::after {
  display: none;
}

.group-filter__top {
  position: relative;
  padding: 20px 48px 20px 20px;
  cursor: pointer;
}

.group-filter__top::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 20px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 8px solid #000000;
  transition: transform 0.1s linear;
  transform: translateY(-50%);
}

.group-filter__top.hidden::after {
  transform: translateY(-50%) rotate(180deg);
}

.group-filter__bottom {
  overflow: hidden;
  transition: height 0.2s ease-out;
}

.group-filter__bottom-inner {
  margin-bottom: 20px;
  padding: 10px 30px;
}

.group-filter__heading {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
}

.group-filter__range-slider {
  padding: 10px 0;
  margin-bottom: 20px;
}

.group-filter__range-slider .noUi-horizontal {
  height: 1px;
}

.group-filter__range-slider .noUi-target {
  box-shadow: none;
  background: #d0d0d0;
  border: none;
  border-radius: 0;
}

.group-filter__range-slider .noUi-connect {
  background: #bb8c5f;
}

.group-filter__range-slider .noUi-horizontal .noUi-handle {
  cursor: pointer;
  height: 12px;
  width: 12px;
  top: 50%;
  right: -6px;
  background: #bb8c5f;
  box-shadow: none;
  border: none;
  border-radius: 0;
  transform: translateY(-50%) rotate(45deg);
}

.group-filter__range-slider .noUi-horizontal .noUi-handle::before,
.group-filter__range-slider .noUi-horizontal .noUi-handle::after {
  display: none;
}

.group-filter__range-slider .noUi-handle .noUi-touch-area {
  border: 1px solid transparent;
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  width: auto;
  height: auto;
  transform: rotate(-45deg);
}

.group-filter__range-slider .noUi-handle:hover .noUi-touch-area {
  border: 1px dashed #bb8c5f;
}

.group-filter__track {
  padding-left: 9px;
  padding-right: 9px;
}

.group-filter__content--range {
  display: flex;
}

.group-filter__content--range .field {
  flex: 0 0 calc(50% - 10px);
}

.group-filter__content--range .field:first-child {
  margin-right: 20px;
}

.group-filter__content--column {
  display: flex;
  flex-direction: column;
}

.group-filter__content--row {
  display: flex;
  flex-wrap: wrap;
}

.group-filter__content--label-gutters-bottom .group-filter__label {
  margin-bottom: 10px;
}

.group-filter__content--label-gutters-bottom .group-filter__label:last-child {
  margin-bottom: 0;
}

.group-filter__content--input-gutter-right .group-filter__input {
  margin-right: 20px;
}

.group-filter__content--colors-list {
  margin-left: -5px;
  margin-right: -5px;
  margin-top: -5px;
  margin-bottom: -5px;
}

.group-filter__content--colors-list .group-filter__label {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.group-filter__label {
  /* Флекс, чтобы убрать пробелы между инлайн-блоками */
  display: flex;
  align-items: center;
  cursor: pointer;
}

.group-filter__label-text {
  display: inline-block;
  font-size: 17px;
  line-height: 1.5;
}

/* Filter-trigger */

.filter-trigger {
  display: inline-grid;
  grid-template-columns: 20px min-content;
  grid-auto-flow: column;
  column-gap: 12px;
}

.filter-trigger > * {
  align-self: center;
}

.filter-trigger__icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../img/icons/filter-icon.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.filter-trigger__text {
  font-size: 17px;
  font-weight: 600;
  line-height: 1.4;
}

/* Breadcrumbs */

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 12px;
  font-size: 15px;
}

.breadcrumbs__item {
  display: inline-grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(3, min-content);
  column-gap: 5px;
  font-weight: normal;
  line-height: 1.3;
  color: #636b78;
  white-space: nowrap;
}

.breadcrumbs__item::after {
  content: "/";
  color: #d0d0d0;
}

.breadcrumbs__item:last-child::after {
  content: none;
}

.breadcrumbs__link {
  color: #d0d0d0;
}

.breadcrumbs__link:hover,
.breadcrumbs__link:focus {
  color: #636b78;
  text-decoration: underline;
}

/* Pagination */

.pagination__item {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border: 1px solid #d0d0d0;
  font-size: 17px;
  line-height: 1.4;
  color: #524336;
  transition: all 0.1s ease-out;
}

.pagination__item:hover:not(.pagination__item--active, .pagination__item--disabled) {
  background-color: #bb8c5f;
  color: #ffffff;
}

.pagination__item--prev .pagination__link::before,
.pagination__item--next .pagination__link::before {
  position: absolute;
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-left: 2px solid #524336;
  border-top: 2px solid #524336;
}

.pagination__item--prev .pagination__link:hover::before,
.pagination__item--next .pagination__link:hover::before {
  border-color: #ffffff;
}

.pagination__item--prev .pagination__link::before {
  transform: translate(-50%, -50%) rotate(-45deg);
  margin-left: 2px;
}

.pagination__item--next .pagination__link::before {
  transform: translate(-50%, -50%) rotate(135deg);
  margin-left: -2px;
}

.pagination__item--active {
  background-color: #bb8c5f;
  color: #ffffff;
  pointer-events: none;
}

.pagination__item--disabled {
  background-color: #e7e7e7;
  border: none;
  pointer-events: none;
}

.pagination__item--disabled .pagination__link {
  color: #d0d0d0;
}

.pagination__item--disabled .pagination__link::before {
  border-color: #d0d0d0;
}

.pagination__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: inherit;
  user-select: none;
}

/* change view type icons */

/* View-change */

.view-change {
  display: inline-grid;
  grid-auto-flow: column;
  column-gap: 20px;
}

.view-change > * {
  align-self: center;
}

.view-change__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
  /* Checked */
  /* Focused */
}

.view-change__input:checked + .view-change__icon--grid {
  background-image: url(../img/icons/view-grid-on.svg);
}

.view-change__input:checked + .view-change__icon--list {
  background-image: url(../img/icons/view-list-on.svg);
}

.view-change__input:focus + .view-change__icon {
  box-shadow: 0 0 7px 0 #bb8c5f;
}

.view-change__icon {
  display: block;
  cursor: pointer;
  width: 28px;
  height: 28px;
}

.view-change__icon--grid {
  background-image: url(../img/icons/view-grid-off.svg);
}

.view-change__icon--list {
  background-image: url(../img/icons/view-list-off.svg);
}

/* Counter */

.counter {
  display: inline-flex;
  align-items: center;
}

.counter__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border: 1px solid #bb8c5f;
}

.counter__button:active {
  border: 1px solid #caa683;
}

.counter__button::before,
.counter__button::after {
  font-size: 20px;
}

.counter__button--incr::before {
  content: "+";
}

.counter__button--decr::before {
  content: "−";
}

.counter__button--transparent {
  border: 1px solid transparent;
}

.counter__button--transparent:active {
  border: 1px dotted #d0d0d0;
}

.counter__content {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
}

.counter__content--with-border {
  border: 1px solid #bb8c5f;
}

.counter__input {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 48px;
  height: 48px;
  font-size: 17px;
  background-color: inherit;
}

.counter__input--with-border {
  border: 1px solid #bb8c5f;
}

/* page-blocks */

.products-panel__filter-trigger {
  grid-area: trigger;
}

.products-panel__sort {
  display: flex;
  align-items: center;
  grid-area: sort;
}

.products-panel__select {
  position: relative;
  display: grid;
  grid-auto-flow: column;
  gap: 20px;
}

.products-panel__select::after {
  content: "";
  position: absolute;
  right: 20px;
  top: 50%;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid #000;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
  /* Чтобы прокликнуть сквозь элемент */
  pointer-events: none;
}

.products-panel__select > * {
  align-self: center;
}

.products-panel__label {
  font-size: 17px;
  line-height: 1.5;
  color: #636b78;
}

.products-panel__select-list {
  appearance: none;
  min-width: 220px;
  padding: 12px 50px 12px 20px;
  background-color: #ffffff;
  font-family: inherit;
  font-size: 17px;
  font-weight: 500;
}

.products-panel__change-view {
  grid-area: view;
}

/* pages */

/* Header */

.header {
  height: 80px;
  background-color: #050402;
  color: #ffffff;
  /* Mobile dropdown-menu */
}

.header--js-fixed {
  position: fixed;
  z-index: 998;
  top: 0;
  width: 100%;
}

.header__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1256px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  position: relative;
  height: 100%;
}

.header__top {
  display: grid;
  grid-template-areas: "dropdown-trigger logo search-trigger";
  grid-template-columns: min-content 1fr min-content;
  column-gap: 20px;
  padding-top: 14px;
  padding-bottom: 11px;
}

.header__top > * {
  align-self: center;
}

.header__bottom {
  position: relative;
  display: none;
  grid-template-areas: "dropdown-trigger search nav";
  grid-template-columns: min-content minmax(274px, 1fr) 1fr;
  column-gap: 60px;
  padding-top: 13px;
  padding-bottom: 12px;
}

.header__logo {
  grid-area: logo;
  justify-self: center;
}

.header__logo .logo__img {
  width: 126px;
  height: 43px;
}

.header__contacts {
  grid-area: contacts;
  display: none;
}

.header__catalog {
  z-index: 98;
  position: absolute;
  left: 0;
  top: 100%;
  display: flex;
  max-width: 95%;
}

.header__search {
  display: none;
}

.header__search--show {
  z-index: 999;
  display: block;
  position: fixed;
  top: 0;
  background-color: #050402;
  left: 0;
  right: 0;
  padding: 20px;
  height: 80px;
}

.header__search--show::before {
  content: "";
  position: absolute;
  top: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  background-color: rgba(65, 65, 65, 0.274);
}

.header__search-trigger {
  grid-area: search-trigger;
}

.header__nav {
  grid-area: nav;
  display: flex;
  align-items: center;
}

.header__nav .page-nav__list {
  display: flex;
}

.header__nav .page-nav__item {
  margin-right: 30px;
  font-size: 17px;
  line-height: 1.5;
}

.header__nav .page-nav__item:last-child {
  margin-right: 0;
}

.header__nav .page-nav__link {
  white-space: nowrap;
}

.header__dropdown-button {
  grid-area: dropdown-trigger;
  flex-grow: 0;
  display: inline-flex;
  align-items: center;
  color: #ffffff;
}

.header__dropdown-button.open .burger-icon span {
  background-color: transparent;
}

.header__dropdown-button.open .burger-icon span::before,
.header__dropdown-button.open .burger-icon span::after {
  top: 0;
}

.header__dropdown-button.open .burger-icon span::after {
  transform: rotate3d(0, 0, 1, -45deg);
}

.header__dropdown-button.open .burger-icon span::before {
  transform: rotate3d(0, 0, 1, 45deg);
}

.header__dropdown-button.open .dropdown-button-text--open {
  display: none;
  visibility: hidden;
}

.header__dropdown-button.open .dropdown-button-text--close {
  display: inline;
  visibility: visible;
}

.header__dropdown-menu {
  display: none;
  z-index: 98;
  position: fixed;
  left: 0;
  top: 80px;
  right: 0;
  bottom: 0;
  height: 100%;
}

.header__dropdown-menu.open {
  display: block;
}

.header__dropdown-menu .contacts-info__item {
  font-size: 20px;
  margin-bottom: 20px;
}

.header__dropdown-menu .contacts-info__item:last-child {
  margin-bottom: 0;
}

.header__dropdown-menu .contacts-info__item--work-schedule {
  margin-bottom: 30px;
}

.header__nav-bar {
  display: none;
}

/* Dropdown-button-text */

.dropdown-button-text--close {
  display: none;
  visibility: hidden;
}

/* Dropdown-menu */

.dropdown-menu {
  background-color: #050402;
  overflow-y: auto;
}

.dropdown-menu__inner {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.dropdown-menu__nav {
  margin-bottom: 25px;
}

.dropdown-menu__search {
  display: block;
  margin-bottom: 40px;
}

.dropdown-menu__contacts {
  padding-top: 40px;
  border-top: 1px solid #524336;
}

/* Header-nav */

.header-nav__item {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.header-nav__item:last-child {
  margin-bottom: 0;
}

.header-nav__item--arrow button {
  position: relative;
  color: inherit;
  padding-right: 70px;
  transition: margin 0.5s linear;
}

.header-nav__item--arrow button::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  width: 0;
  height: 0;
  border-width: 6px 4px 0;
  border-style: solid;
  border-color: #bb8c5f transparent transparent;
  transform: translateY(-50%);
  pointer-events: none;
}

.header-nav__link {
  color: #ffffff;
}

.header-nav__sub-list {
  position: relative;
  margin-left: 20px;
  padding-left: 30px;
  height: 0;
  overflow: hidden;
  transition: height 0.3s linear;
  border-left: 1px solid #524336;
}

.header-nav__sub-item {
  font-size: 17px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.header-nav__sub-item:last-child {
  margin-bottom: 0;
}

.header-nav__sub-link {
  color: #ffffff;
}

/* Catalog-dropdown */

.catalog-dropdown {
  display: none;
  transform-origin: top;
  transform: rotateX(90deg);
  transition: transform 0.2s linear, opacity 0.3s linear;
  background-color: #ffffff;
}

.catalog-dropdown.open {
  transform: rotate(0deg);
}

.catalog-dropdown__content {
  padding: 30px 50px;
}

.catalog-dropdown__content::before {
  content: "";
  position: absolute;
  left: 50px;
  top: 1px;
  width: 0;
  height: 0;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  border-bottom: 16px solid #ffffff;
  transform: translateY(-100%);
}

.catalog-dropdown__tabs {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 25px;
  margin-bottom: 40px;
}

.catalog-dropdown__tabs::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #d0d0d0;
}

.catalog-dropdown__button {
  position: relative;
  display: block;
  font-size: 17px;
  color: #000000;
  line-height: 1.5;
  transition: color 0.2s linear;
  white-space: nowrap;
  margin-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  margin-right: 30px;
}

.catalog-dropdown__button::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-image: url(../img/icons/underline-decor.svg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  transition: opacity 0.2s linear;
}

.catalog-dropdown__button:last-child {
  margin-right: 0;
}

.catalog-dropdown__button.active {
  color: #bb8c5f;
}

.catalog-dropdown__button.active::before {
  opacity: 1;
}

.catalog-dropdown__item {
  display: none;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px 40px;
  min-width: 620px;
}

.catalog-dropdown__item.show {
  display: grid;
}

.catalog-dropdown__list-item {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 17px;
  line-height: 1.5;
}

.catalog-dropdown__link {
  color: #000000;
}

.catalog-dropdown__link:hover,
.catalog-dropdown__link:focus {
  text-decoration: underline;
}

.catalog-dropdown__link:active {
  color: #404040;
}

/* Burger-icon */

.burger-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  padding: 10px;
}

.burger-icon span {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 1px;
  background-color: #bb8c5f;
  transition: background-color 0.3s linear;
}

.burger-icon span::before,
.burger-icon span::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #bb8c5f;
  transform-origin: 50% 50%;
  transition: top 0.2s linear, transform 0.3s linear;
}

.burger-icon span::before {
  top: 6px;
}

.burger-icon span::after {
  top: -6px;
}

/* Footer */

.footer {
  background-color: #050402;
}

.footer__content {
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer__content-inner {
  max-width: 1256px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

.footer__logo {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.footer__logo .logo__img {
  width: 186px;
  height: 67px;
}

.footer__nav {
  margin-bottom: 40px;
}

.footer__contacts .contacts-info__item {
  margin-bottom: 20px;
}

.footer__contacts .contacts-info__item:last-child {
  margin-bottom: 0;
}

.footer__contacts .socials__icon {
  width: 30px;
  height: 30px;
}

.footer__bottom {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #151515;
}

.footer__bottom-inner {
  max-width: 1256px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  display: grid;
  row-gap: 15px;
}

.footer__bottom-links {
  display: grid;
}

.footer__bottom-links a {
  position: relative;
  font-size: 14px;
  line-height: 1.3;
  color: #999999;
}

.footer__bottom-links a:active {
  color: #bfbfbf;
}

.footer__bottom-links a:hover,
.footer__bottom-links a:focus {
  color: #ffffff;
  text-decoration: underline;
}

.footer__copyright {
  color: #999999;
}

/* Footer-nav */

.footer-nav__list {
  display: grid;
  column-gap: 20px;
  row-gap: 20px;
}

.footer-nav__item {
  list-style: none;
}

.footer-nav__heading {
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.35;
  color: #ffffff;
  margin-bottom: 10px;
}

.footer-nav__link {
  color: inherit;
}

.footer-nav__link:hover,
.footer-nav__link:focus {
  color: #d9d9d9;
  text-decoration: underline;
}

.footer-nav__sublist {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  line-height: 1.3;
  font-size: 14px;
  color: #faf6f2;
}

.footer-nav__sublist-item {
  margin-bottom: 7px;
}

.footer-nav__sublist-item:last-child {
  margin-bottom: 0;
}

.footer-nav__sublist-item a {
  color: inherit;
}

.footer-nav__sublist-item a:hover,
.footer-nav__sublist-item a:focus {
  color: #d9d9d9;
  text-decoration: underline;
}

/* Main-page */

.main-page__item:nth-child(2) {
  margin-top: 20px;
}

.main-page__item:not(:first-child) {
  margin-bottom: 40px;
}

/* Hero */

.hero {
  z-index: 0;
  position: relative;
  background-color: #0a0807;
}

.hero__slider-nav {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.hero__slider-nav-inner {
  max-width: 1256px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  position: relative;
  height: 100%;
}

.hero__slider-control {
  z-index: 2;
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
}

.hero__slider-control .swiper-button-prev,
.hero__slider-control .swiper-button-next {
  display: none;
  position: absolute;
  left: 50%;
  width: 38px;
  height: 38px;
  border: 1px solid #bb8c5f;
  cursor: pointer;
  transform: translateX(-50%);
}

.hero__slider-control .swiper-button-prev:active,
.hero__slider-control .swiper-button-next:active {
  border-color: #90663d;
}

.hero__slider-control .swiper-button-prev:active span,
.hero__slider-control .swiper-button-next:active span {
  background-color: #90663d;
}

.hero__slider-control .swiper-button-prev:active span::before,
.hero__slider-control .swiper-button-next:active span::before {
  background-color: #90663d;
}

.hero__slider-control .swiper-button-prev span,
.hero__slider-control .swiper-button-next span {
  position: absolute;
  left: 50%;
  width: 2px;
  background-color: #bb8c5f;
}

.hero__slider-control .swiper-button-prev span::before,
.hero__slider-control .swiper-button-next span::before {
  content: "";
  position: absolute;
  left: 0;
  width: 7px;
  height: 7px;
  background-color: #bb8c5f;
  transform: rotate(45deg) translateX(-50%);
}

.hero__slider-control .swiper-button-prev.swiper-button-disabled,
.hero__slider-control .swiper-button-next.swiper-button-disabled {
  border: 1px solid #524336;
}

.hero__slider-control .swiper-button-prev.swiper-button-disabled span,
.hero__slider-control .swiper-button-next.swiper-button-disabled span {
  background-color: #524336;
}

.hero__slider-control .swiper-button-prev.swiper-button-disabled span::before,
.hero__slider-control .swiper-button-next.swiper-button-disabled span::before {
  background-color: #524336;
}

.hero__slider-control .swiper-button-prev {
  top: calc(-100% - 20px);
}

.hero__slider-control .swiper-button-prev span {
  top: 0;
  height: 36px;
  transform: translate(-50%, -50%);
}

.hero__slider-control .swiper-button-prev span::before {
  top: 0;
}

.hero__slider-control .swiper-button-next {
  bottom: calc(-100% - 20px);
}

.hero__slider-control .swiper-button-next span {
  top: 50%;
  height: 64px;
  transform: translate(-50%, 0%);
}

.hero__slider-control .swiper-button-next span::before {
  top: 100%;
}

.hero__slide {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
}

.hero__slide--bg-first-screen {
  background-image: url(../img/bg/main-bg-sm-alt.jpg);
}

.hero__slide--bg-second-screen {
  background-image: url(../img/bg/main-bg.jpg);
}

.hero__inner {
  max-width: 1256px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  padding-top: 320px;
  padding-bottom: 60px;
}

.hero__text-block {
  margin-bottom: 40px;
}

.hero__heading {
  margin-bottom: 20px;
  font-family: "Forum", cursive;
  font-size: 35px;
  line-height: 1;
  color: #bb8c5f;
}

.hero__text {
  max-width: 430px;
  font-size: 18px;
  line-height: 1.4;
  color: #ffffff;
}

.hero__button {
  width: 100%;
  white-space: nowrap;
}

/* Product-offers */

.product-offers__nav {
  margin-bottom: 24px;
}

.product-offers__nav > .swiper-wrapper {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: min-content;
  justify-content: start;
  column-gap: 10px;
}

.product-offers__nav-button {
  padding: 5px 10px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.15;
  white-space: nowrap;
  outline: none;
}

.product-offers__nav-button.active {
  color: #bb8c5f;
}

.product-offers__nav-button.active span {
  border-bottom: 1px solid #bb8c5f;
}

.product-offers__catalog {
  display: contents;
}

.product-offers__catalog-category {
  display: none;
}

.product-offers__catalog-category.show {
  display: grid;
}

.product-offers__catalog-list {
  display: grid;
  row-gap: 20px;
  margin-bottom: 30px;
}

.product-offers__catalog-footer {
  display: flex;
  justify-content: center;
}

.product-offers__catalog-button {
  min-width: 275px;
}

/* Catalog-grid */

.catalog-grid__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "sets" "holders" "machines" "pedals" "paints" "power" "tips" "needles" "consumables" "accessories";
  gap: 20px;
}

.catalog-grid__list-item {
  background-color: #f5f5f5;
  transition: box-shadow 0.2s linear;
}

.catalog-grid__list-item--sets {
  grid-area: sets;
}

.catalog-grid__list-item--holders {
  grid-area: holders;
}

.catalog-grid__list-item--machines {
  grid-area: machines;
}

.catalog-grid__list-item--pedals {
  grid-area: pedals;
}

.catalog-grid__list-item--paints {
  grid-area: paints;
}

.catalog-grid__list-item--power {
  grid-area: power;
}

.catalog-grid__list-item--tips {
  grid-area: tips;
}

.catalog-grid__list-item--needles {
  grid-area: needles;
}

.catalog-grid__list-item--consumables {
  grid-area: consumables;
}

.catalog-grid__list-item--accessories {
  grid-area: accessories;
}

.item-catalog {
  position: relative;
  display: flex;
  flex-direction: column;
}

.item-catalog:hover {
  box-shadow: 0px 0px 15px 3px #ddd;
}

.item-catalog__link {
  color: #000000;
}

.item-catalog__link::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.item-catalog__link:focus-visible {
  color: #404040;
}

.item-catalog__link:focus-visible::after {
  box-shadow: 0 0 15px 3px #ddd;
}

.item-catalog__heading {
  padding: 40px 30px 30px 50px;
  font-size: 30px;
  line-height: 1.3;
  font-weight: 700;
}

.item-catalog__image {
  max-height: 300px;
  width: 100%;
}

.item-catalog__image img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: contain;
}

/* Banners */

.banners {
  display: grid;
  gap: 20px;
}

.banners__item {
  flex-basis: 100%;
}

.item-banner {
  position: relative;
}

.item-banner--bg {
  background-repeat: no-repeat;
  background-size: cover;
}

.item-banner--bg-v1 {
  background-image: url(../img/banners/banner-1-sm.jpg);
}

.item-banner--bg-v2 {
  background-image: url(../img/banners/banner-2-sm.jpg);
}

.item-banner__inner {
  min-height: 300px;
  max-height: 320px;
  display: flex;
  flex-wrap: wrap;
  padding: 30px 20px 20px 20px;
}

.item-banner__text {
  flex-basis: 100%;
  font-size: 25px;
  font-weight: 700;
  line-height: 1.3;
  color: #ffffff;
}

.item-banner__link-wrapper {
  flex-basis: 100%;
  align-self: flex-end;
}

.item-banner__link {
  font-size: 20px;
  line-height: 1.5;
  color: #bb8c5f;
}

.item-banner__link::after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.item-banner__link:focus-visible {
  outline: none;
  color: #ffffff;
}

.item-banner__link:focus-visible::after {
  outline: 3px solid #bb8c5f;
  outline-offset: -3px;
}

.item-banner__link:hover {
  color: #ffffff;
}

/* Brands */

.brands {
  padding-bottom: 48px;
}

.brands__slider {
  position: relative;
}

.brands__slider .swiper-button-prev,
.brands__slider .swiper-button-next {
  display: none;
  z-index: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.brands__slider .swiper-button-prev {
  left: -15px;
}

.brands__slider .swiper-button-next {
  right: -15px;
}

.brands__slider-inner {
  height: 90px;
}

.brands__slider-inner .swiper-slide {
  height: calc((100% - 15px) / 2);
}

.brands__link {
  display: none;
  position: absolute;
  top: -40px;
  right: 0;
  font-size: 15px;
  line-height: 1.4;
  color: #000000;
  transition: color 0.2s linear;
}

.brands__link:hover,
.brands__link:active,
.brands__link:focus {
  color: #bb8c5f;
}

.brands__link:active,
.brands__link:focus {
  text-decoration: underline;
}

/* Brands-item */

.brands-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  user-select: none;
}

.brands-item__image {
  display: flex;
  justify-content: center;
  max-height: 46px;
  padding: 3px 5px;
}

.brands-item__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Info-block */

.info-block {
  display: grid;
  row-gap: 14px;
}

.info-block::before {
  content: "";
  display: block;
  background-image: url(../img/info-block/info-img-sm.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 268px;
}

.info-block__content {
  display: grid;
  padding-left: 20px;
  padding-right: 20px;
}

.info-block__heading {
  margin-bottom: 8px;
  font-family: "Forum", cursive;
  font-size: 25px;
  line-height: 1.3;
  color: #bb8c5f;
}

.info-block__text {
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 1.4;
}

.info-block__text p {
  margin-top: 6px;
  margin-bottom: 6px;
}

.info-block__text p:first-child {
  margin-top: 0;
}

.info-block__button {
  width: 100%;
  justify-self: center;
}

/* Feedback */

.feedback__slider {
  max-width: 598px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  position: relative;
}

.feedback__slider.swiper {
  overflow: visible;
  padding-top: 30px;
  padding-bottom: 62px;
}

.feedback__slider .swiper-button-prev,
.feedback__slider .swiper-button-next {
  display: none;
  z-index: 1;
  position: absolute;
  top: calc(50% - 20px);
  transform: translateY(-50%);
}

.feedback__slider .swiper-button-prev {
  left: -80px;
}

.feedback__slider .swiper-button-next {
  right: -80px;
}

.feedback__slider .slider-pagination {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.feedback__card {
  height: auto;
  overflow: hidden;
  user-select: none;
}

/* Card-feedback */

.card-feedback {
  padding: 50px 20px 52px;
  background-color: #050402;
  border-top: 2px solid #bb8c5f;
  border-bottom: 2px solid #bb8c5f;
}

.card-feedback__photo {
  position: absolute;
  top: 0;
  left: 20px;
  border: 3px solid #bb8c5f;
  width: 54px;
  height: 54px;
  transform: translateY(-50%);
}

.card-feedback__photo img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

.card-feedback__text p {
  font-size: 17px;
  line-height: 1.4;
  color: #ffffff;
}

.card-feedback__text p:not(:last-child) {
  margin-bottom: 0.5em;
}

/* Mailing */

.mailing__content {
  padding-left: 20px;
  padding-right: 20px;
}

.mailing__desc {
  font-size: 17px;
  line-height: 1.15;
  font-weight: 500;
  margin-bottom: 30px;
}

.mailing__form .form__group {
  display: grid;
  margin-bottom: 20px;
  row-gap: 10px;
}

.mailing__form .form__group--agreement .checkbox {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  align-items: center;
  column-gap: 10px;
}

.mailing__form .form__label {
  color: #636b78;
}

.mailing__form .checkbox--agreement {
  font-size: 13px;
  line-height: 1.2;
}

.mailing__form .button {
  width: 100%;
  min-width: 235px;
}

/* Catalog */

.catalog__inner {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

.catalog__heading {
  width: 100%;
}

.catalog__filter {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: #eeeeee;
  flex-direction: column;
}

.catalog__filter.open {
  display: flex;
}

.catalog__products {
  width: 100%;
}

.catalog__products-panel {
  display: grid;
  grid-template-areas: "trigger view" "sort sort";
  grid-template-columns: repeat(2, minmax(min-content, 1fr));
  gap: 30px;
  grid-auto-flow: column;
  width: 100%;
  margin-bottom: 20px;
}

.catalog__products-panel > * {
  align-self: center;
}

.catalog__products-panel .products-panel__select {
  width: 100%;
}

.catalog__products-panel .products-panel__select-list {
  width: 100%;
}

.catalog__products-panel .products-panel__label {
  display: none;
}

.catalog__products-panel .products-panel__change-view {
  justify-self: end;
}

.catalog__products-container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
  margin-bottom: 50px;
}

.catalog__product-card {
  /* чтобы элемент не выпирал, это происходит из-за ширины 'auto', 
  что означает что элемент грида может увеличиваться в ширину из-за длинного содержимого.
  Решения: 
  в минмакс проставить 0
  grid-template-columns: minmax(0, 1fr) 248px; 
  В доч. эл. проставить min-width: 0;
  или overflow: hidden, но овф обрежет элем*/
  min-width: 0;
}

.catalog__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  width: 275px;
}

.catalog__pagination {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24px, min-content));
  justify-content: center;
  grid-auto-flow: column;
  column-gap: 10px;
}

/* Product-page */

.product-page {
  padding-bottom: 60px;
}

.product-page__item:not(:last-child) {
  margin-bottom: 60px;
}

/* Product */

.product__heading {
  width: 100%;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.15;
  margin-bottom: 20px;
}

.product__card {
  width: 100%;
  margin-bottom: 40px;
}

.product__card-inner {
  display: flex;
  flex-wrap: wrap;
}

.product__gallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.product__info {
  width: 100%;
}

.product__thumbs-slider {
  max-height: 427px;
  width: 100%;
}

.product__thumbs-slider-inner {
  height: 100%;
}

.product__thumbs-slide {
  background-color: #f5f5f5;
}

.product__thumbs-slide.swiper-slide {
  height: auto;
  width: 83px;
}

.product__thumbs-slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border: 1px solid transparent;
}

.product__thumbs-slide.swiper-slide-thumb-active img {
  border: 1px solid #bb8c5f;
}

.product__thumbs-slide .swiper-lazy {
  opacity: 0;
}

.product__thumbs-slide .swiper-lazy-loaded {
  opacity: 1;
}

.product__slider {
  margin-bottom: var(--thumbs-gutter, 10px);
}

.product__slider .swiper-lazy {
  opacity: 0;
}

.product__slider .swiper-lazy-loaded {
  opacity: 1;
}

.product__slide {
  max-height: 427px;
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
}

.product__slide img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.product__price {
  margin-bottom: 25px;
}

.product__price-inner {
  display: inline-grid;
  grid-auto-flow: column;
  align-items: center;
  column-gap: 15px;
}

.product__price-item {
  white-space: nowrap;
  color: #bb8c5f;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.3;
}

.product__price-item--old-price {
  font-size: 15px;
  font-weight: 400;
  color: #d0d0d0;
  text-decoration: line-through;
}

.product__available {
  margin-bottom: 16px;
  font-size: 17px;
  line-height: 1.3;
  color: #636b78;
}

.product__available span {
  color: #bb8c5f;
}

.product__desc {
  margin-bottom: 20px;
  font-size: 17px;
  line-height: 1.4;
}

.product__desc span {
  display: block;
  color: #636b78;
  margin: 0 0 8px;
}

.product__desc p {
  margin: 8px 0;
}

.product__button-wrapper {
  display: inline-grid;
  row-gap: 10px;
  width: 100%;
}

.product__button {
  margin-left: 16px;
  margin-right: 16px;
}

.product__share {
  order: -1;
  justify-self: center;
}

.product__share-button {
  padding: 5px 8px;
  color: #636b78;
  text-decoration: underline dotted;
}

.product__share-button:hover,
.product__share-button:focus {
  color: #818997;
}

.product__share-button:active {
  color: #353940;
}

/* Details-product */

.details-product__item {
  margin-bottom: 30px;
}

.details-product__item:last-child {
  margin-bottom: 0;
}

.details-product__heading {
  font-family: "Jost", sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 1.15;
  margin-bottom: 20px;
}

.details-product__text {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.4;
}

.details-product__text p {
  margin: 15px 0;
}

.details-product__table {
  width: 100%;
  border-collapse: collapse;
}

.details-product__caption {
  margin-bottom: 20px;
  font-weight: 700;
  text-align: left;
  font-size: 16px;
  line-height: 1.5;
}

.details-product__tbody {
  border: 1px solid #d0d0d0;
}

.details-product__tr:nth-child(odd) {
  background-color: #d0d0d0;
}

.details-product__cell {
  font-size: 15px;
  line-height: 1.4;
  padding: 20px 12px;
  letter-spacing: 0.02em;
}

.details-product__cell:first-child {
  width: 60%;
}

.details-product__cell:nth-child(2) {
  width: 40%;
}

/* Related-products */

.related-products__item:not(:last-child) {
  margin-bottom: 60px;
}

.related-products__slider {
  position: relative;
}

.related-products__slider .swiper-wrapper {
  display: grid;
  grid-auto-flow: column;
}

.related-products__slider .swiper-slide {
  width: 240px;
}

.related-products__slider .slider-pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.related-products__slider .swiper-button-prev,
.related-products__slider .swiper-button-next {
  display: none;
  z-index: 2;
  position: absolute;
  top: calc(50% - 40px);
  transform: translateY(-50%);
}

.related-products__slider .swiper-button-prev {
  left: 0;
}

.related-products__slider .swiper-button-next {
  right: 0;
}

/* Not-found */

.not-found__inner--bg::after {
  content: "";
  display: block;
  margin-top: -30%;
  background-image: url(../img/404/404-sm.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
  max-width: 100%;
  height: 358px;
}

.not-found__content {
  padding-top: 60px;
  margin-bottom: 20px;
}

.not-found__text-wrapper {
  margin-bottom: 30px;
  max-width: 400px;
}

.not-found__heading {
  font-family: "Forum", cursive;
  font-size: 45px;
  color: #bb8c5f;
  margin-bottom: 20px;
}

.not-found__desc {
  font-size: 20px;
  line-height: 1.4;
}

.not-found__button-wrapper {
  display: grid;
  row-gap: 20px;
}

.not-found__button {
  white-space: nowrap;
}

/* Cart */

.cart__inner {
  padding-bottom: 60px;
}

.cart__main-content {
  margin-bottom: 60px;
}

.cart__list {
  margin-bottom: 60px;
}

.cart__list-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "card card" "counter bar";
  row-gap: 20px;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #d0d0d0;
}

.cart__list-item:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}

.cart__list-item .cart-item__info {
  grid-area: card;
}

.cart__list-item .cart-item__counter {
  grid-area: counter;
  justify-self: center;
  justify-self: start;
}

.cart__list-item .cart-item__bar {
  grid-area: bar;
  justify-self: end;
}

.cart__user-data .form__label {
  color: #636b78;
  margin-bottom: 10px;
}

.cart__user-data .field {
  padding: 16px 20px;
  border: 0;
}

/* Cart-item */

.cart-item {
  position: relative;
  width: 100%;
}

.cart-item__info {
  display: flex;
}

.cart-item__image {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  width: 80px;
  height: 80px;
  user-select: none;
}

.cart-item__image img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.cart-item__good-info {
  display: grid;
  align-content: center;
  row-gap: 6px;
}

.cart-item__name {
  font-size: 15px;
  line-height: 1.1;
  color: #636b78;
}

.cart-item__price-wrapper {
  display: grid;
  row-gap: 2px;
}

.cart-item__price-item {
  font-size: 16px;
  line-height: 1.3;
}

.cart-item__price-item--unit-price {
  font-size: 12px;
  color: #636b78;
}

.cart-item__counter .counter__input {
  width: 38px;
  height: 38px;
  font-size: 15px;
  line-height: 1.4;
}

.cart-item__counter .counter__button {
  width: 40px;
  height: 38px;
}

.cart-item__bar {
  display: inline-grid;
  grid-auto-flow: column;
  column-gap: 10px;
  justify-content: start;
}

.cart-item__bar-button {
  display: inline-block;
  margin: -5px;
  padding: 5px;
}

.cart-item__bar-button span {
  display: block;
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cart-item__bar-button--trash span {
  background-image: url(../img/icons/trash.svg);
}

.cart-item__bar-button--favorite span {
  background-image: url(../img/icons/product-card/heart-empty.svg);
}

/* User-data-cart */

.user-data-cart__heading {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  margin-bottom: 25px;
}

.user-data-cart__block {
  margin-bottom: 40px;
}

.user-data-cart__block:last-child {
  margin-bottom: 0;
}

.user-data-cart__block--grid {
  display: grid;
}

.user-data-cart__block--recipient {
  gap: 20px;
}

.user-data-cart__block--address {
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "city city" "street street" "apartment entrance" "floor intercom";
  gap: 20px;
}

.user-data-cart__group--city {
  grid-area: city;
}

.user-data-cart__group--street {
  grid-area: street;
}

.user-data-cart__group--apartment {
  grid-area: apartment;
}

.user-data-cart__group--entrance {
  grid-area: entrance;
}

.user-data-cart__group--floor {
  grid-area: floor;
}

.user-data-cart__group--intercom {
  grid-area: intercom;
}

/* Sidebar-cart */

.sidebar-cart {
  font-family: "Jost", sans-serif;
  max-width: 392px;
}

.sidebar-cart__inner {
  background-color: #ffffff;
}

.sidebar-cart__group {
  padding-top: 40px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid #d0d0d0;
}

.sidebar-cart__group:first-child {
  padding-top: 30px;
}

.sidebar-cart__group:last-child {
  padding-bottom: 40px;
  border: 0;
}

/* Options-cart */

.options-cart__group {
  margin-bottom: 30px;
}

.options-cart__group:last-child {
  margin-bottom: 0;
}

.options-cart__group-heading {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 15px;
}

.options-cart__group-content .radio {
  margin-bottom: 15px;
}

.options-cart__group-content .radio:last-child {
  margin-bottom: 0;
}

.options-cart__group-content .radio::after {
  content: "";
  display: block;
  margin-left: 10px;
  width: 20px;
  height: 20px;
  background-image: url(../img/icons/tooltip.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.options-cart__group-content .radio__box {
  margin-right: 10px;
}

/* Total-cart */

.total-cart__group {
  margin-bottom: 30px;
}

.total-cart__group:last-child {
  margin-bottom: 0;
}

.total-cart__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}

.total-cart__item:last-child {
  margin-bottom: 0;
}

.total-cart__item--total .total-cart__item-content,
.total-cart__item--total .total-cart__item-title {
  font-size: 25px;
  font-weight: 700;
  line-height: 1.15;
}

.total-cart__item-title {
  font-size: 17px;
  font-weight: normal;
  line-height: 1.4;
  margin-right: 15px;
}

.total-cart__item-content {
  font-size: 17px;
  font-weight: 500;
  line-height: 1.4;
}

.total-cart__form .form__group {
  margin-bottom: 15px;
}

.total-cart__form .form__label {
  margin-bottom: 10px;
  font-size: 17px;
  line-height: 1.4;
  color: #636b78;
}

.total-cart__form .field {
  padding: 23px 30px;
}

.total-cart__form-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

/* Order-cart */

.order-cart__button-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.order-cart__button:first-child {
  margin-bottom: 10px;
}

.order-cart__checkbox {
  display: flex;
  align-items: center;
}

.order-cart__checkbox .checkbox__box {
  flex-shrink: 0;
  margin-right: 20px;
}

.order-cart__checkbox .checkbox__text {
  font-size: 13px;
  line-height: 1.2;
}

.order-cart__checkbox .checkbox__text a {
  color: #bb8c5f;
  text-decoration: underline;
}

/* Contacts-page */

.contacts-page__item {
  margin-bottom: 30px;
}

.contacts-page__item:last-child {
  margin-bottom: 0;
}

.contacts-page__item-heading {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  margin-bottom: 20px;
}

/* Map-section */

.map-section__map {
  width: 100%;
  height: 500px;
}

/* Info-board */

.info-board__content {
  display: grid;
  grid-template-areas: "phone" "schedule" "socials" "contacts" "note" "delivery" "req";
  row-gap: 12px;
  padding: 20px;
  margin-left: -20px;
  margin-right: -20px;
  background-color: #f5f5f5;
}

.info-board__phone {
  grid-area: phone;
  font-size: 25px;
  font-weight: 700;
  line-height: 1.5;
}

.info-board__schedule {
  grid-area: schedule;
  font-size: 15px;
  line-height: 1.4;
}

.info-board__receiving-request {
  grid-area: contacts;
  display: grid;
  row-gap: 10px;
  font-size: 17px;
  line-height: 1.5;
}

.info-board__receiving-request span {
  color: #d0d0d0;
}

.info-board__link {
  color: #000000;
}

.info-board__link:hover,
.info-board__link:focus-visible {
  color: #bb8c5f;
}

.info-board__socials {
  align-self: start;
  grid-area: socials;
  display: grid;
  grid-auto-flow: row;
  row-gap: 10px;
}

.info-board__socials a {
  font-size: 17px;
  line-height: 1.5;
}

.info-board__note {
  grid-area: note;
  color: #636b78;
  font-size: 15px;
  line-height: 1.5;
}

.info-board__delivery {
  grid-area: delivery;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.5;
}

.info-board__requisites {
  grid-area: req;
  display: grid;
  row-gap: 6px;
  font-size: 15px;
  line-height: 1.5;
}

/* Our-managers */

.our-managers__list {
  display: grid;
  gap: 20px;
}

/* Worker-card */

.worker-card {
  margin-left: -20px;
  margin-right: -20px;
  min-height: 120px;
  background-color: #f5f5f5;
}

.worker-card__inner {
  width: 100%;
  display: grid;
  grid-template-areas: "photo main-info" "photo contacts";
  grid-template-columns: 120px 1fr;
  grid-template-rows: min-content 1fr;
  column-gap: 12px;
  row-gap: 8px;
  padding: 12px;
}

.worker-card__photo {
  position: relative;
  grid-area: photo;
}

.worker-card__photo img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.worker-card__main-info {
  grid-area: main-info;
  display: inline-grid;
  align-content: start;
  column-gap: 12px;
}

.worker-card__name {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
}

.worker-card__status {
  justify-self: start;
  display: inline-grid;
  grid-auto-flow: column;
  align-items: center;
  column-gap: 5px;
  font-size: 12px;
  line-height: 1.5;
  color: #3e424b;
}

.worker-card__status::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.worker-card__status--online::before {
  background-color: #1bc956;
}

.worker-card__status--offline::before {
  background-color: #c9301b;
}

.worker-card__contacts {
  grid-area: contacts;
  display: grid;
  align-content: start;
  row-gap: 6px;
}

.worker-card__contacts .contacts-info__link--phone {
  font-size: 14px;
  font-weight: 700;
}

.worker-card__contacts .contacts-info__link--mail {
  font-size: 12px;
}

.worker-card__contacts .socials__link {
  font-size: 12px;
}

:root {
  --thumbs-width: 83px;
  --thumbs-gutter: 10px;
}

@media (min-width: 375px) {
  .product-card__image {
    margin-bottom: 10px;
  }

  .product-card__product-name {
    font-size: 15px;
  }

  .product-card__price {
    font-size: 18px;
  }

  .product-card__old-price {
    font-size: 16px;
  }

  .product-card__button {
    font-size: 16px;
  }

  .hero__button {
    width: 275px;
  }

  .product-offers__catalog-list {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
  }

  .item-banner--bg-v1 {
    background-image: url(../img/banners/banner-1-md.jpg);
  }

  .item-banner--bg-v2 {
    background-image: url(../img/banners/banner-2-md.jpg);
  }

  .brands__slider-inner {
    height: 120px;
  }

  .info-block::before {
    background-image: url(../img/info-block/info-img-md.jpg);
  }

  .info-block__button {
    width: 275px;
  }

  .catalog__products-panel .products-panel__select {
    width: initial;
  }

  .catalog__products-panel .products-panel__label {
    display: inline-block;
  }

  .catalog__products-container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
  }

  .related-products__slider .swiper-slide {
    width: 289px;
  }

  .not-found__button-wrapper {
    justify-content: start;
  }
}

@media (min-width: 480px) {
  .hero__heading {
    font-size: 40px;
  }

  .brands__slider-inner {
    height: 140px;
  }

  .product__thumbs-slider {
    order: -1;
    flex-shrink: 0;
    width: var(--thumbs-width, 83px);
    margin-right: var(--thumbs-gutter, 10px);
  }

  .product__slider {
    width: calc(100% - var(--thumbs-width, 83px) - var(--thumbs-gutter, 10px));
    margin-bottom: 0;
  }

  .product__button-wrapper {
    grid-auto-flow: column;
    grid-template-columns: 2fr 1fr;
    column-gap: 16px;
  }

  .product__share {
    order: 1;
    justify-self: start;
    align-self: center;
  }

  .cart__list-item .cart-item__bar {
    column-gap: 15px;
  }

  .info-board__content {
    grid-template-columns: 1fr min-content;
    grid-template-areas: "phone socials" "schedule socials" "contacts contacts" "note note" "delivery delivery" "req req";
    row-gap: 12px;
    column-gap: 12px;
  }
}

@media (min-width: 500px) {
  .our-managers__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .worker-card {
    margin-left: 0;
    margin-right: 0;
  }

  .worker-card__inner {
    grid-template-columns: 80px 1fr;
    grid-template-areas: "photo main-info" "contacts contacts";
  }

  .worker-card__main-info {
    align-content: center;
  }
}

@media (min-width: 530px) {
  .brands-item__image {
    padding: 6px 10px;
    max-height: 54px;
  }
}

@media (min-width: 576px) {
  .page-heading {
    font-size: 36px;
  }

  .nav-bar__item {
    display: flex;
    visibility: visible;
  }

  .nav-bar__item:not(:first-child) {
    margin-left: 20px;
  }

  .header__top {
    grid-template-areas: "dropdown-trigger logo search";
    grid-template-columns: min-content min-content 1fr;
  }

  .header__search {
    grid-area: search;
    display: block;
  }

  .header__search--show {
    all: unset;
  }

  .header__search-trigger {
    display: none;
  }

  .dropdown-menu__search {
    display: none;
    visibility: hidden;
  }

  .footer-nav__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .hero__inner {
    padding-top: 80px;
    padding-bottom: 120px;
  }

  .hero__heading {
    font-size: 44px;
  }

  .hero__text {
    font-size: 20px;
  }

  .catalog-grid__list {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "sets holders" "machines pedals" "paints power" "tips needles" "consumables accessories";
  }

  .banners__item {
    flex-basis: calc(50% - 10px);
  }

  .brands__slider-inner {
    height: 160px;
  }

  .brands__link {
    display: block;
  }

  .info-block::before {
    height: 340px;
  }

  .mailing__form {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
  }

  .mailing__form .form__group {
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 30px;
  }

  .mailing__form .form__group--agreement {
    order: 1;
    margin-bottom: 0;
  }

  .mailing__form .button {
    width: auto;
    margin-left: 10px;
    margin-right: 20px;
  }

  .catalog__products-panel {
    grid-template-areas: "trigger sort view";
    grid-template-columns: min-content minmax(0, 1fr) min-content;
    margin-bottom: 30px;
  }

  .catalog__products-panel .products-panel__label {
    display: none;
  }

  .catalog__products-panel .products-panel__sort {
    justify-self: end;
  }

  .catalog__products-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .product__heading {
    font-size: 26px;
  }

  .product__card-inner {
    margin-left: -10px;
    margin-right: -10px;
  }

  .product__gallery {
    width: 45%;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0;
  }

  .product__info {
    width: 55%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .product__thumbs-slider {
    order: 0;
    width: 100%;
    margin-right: 0;
  }

  .product__slider {
    width: 100%;
    margin-bottom: var(--thumbs-gutter, 10px);
  }

  .product__button-wrapper {
    grid-auto-flow: row;
    grid-template-columns: none;
  }

  .product__share {
    order: -1;
    justify-self: center;
  }

  .worker-card__name {
    font-size: 16px;
  }

  .worker-card__contacts .contacts-info__link--mail {
    font-size: 14px;
  }

  .worker-card__contacts .socials__link {
    font-size: 14px;
  }
}

@media (min-width: 576px) and (min-width: 1024px) {
  .mailing__form .form__group {
    width: 100%;
  }
}

@media (min-width: 620px) {
  .feedback__card {
    height: 307px;
  }

  .card-feedback {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (min-width: 630px) {
  .info-block::before {
    background-image: url(../img/info-block/info-img-lg.jpg);
  }

  .mailing__form .button {
    margin-right: 50px;
  }
}

@media (min-width: 658px) {
  .catalog__products-panel .products-panel__label {
    display: block;
  }
}

@media (min-width: 680px) {
  .not-found__inner {
    display: flex;
  }

  .not-found__inner--bg::after {
    margin-top: 0;
    flex-basis: 50%;
    background-image: url(../img/404/404-md.png);
    height: 486px;
  }

  .not-found__content {
    flex-basis: 50%;
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .page-heading {
    font-size: 42px;
    margin-bottom: 30px;
  }

  .nav-bar__icon--has-notify {
    margin-right: 0;
  }

  .filter-trigger__text {
    font-size: 20px;
  }

  .breadcrumbs {
    padding-top: 26px;
    padding-bottom: 22px;
    font-size: 17px;
  }

  .header__top {
    grid-template-areas: "dropdown-trigger logo search cart";
    grid-template-columns: min-content min-content 1fr min-content;
  }

  .header__nav-bar {
    grid-area: cart;
    display: flex;
    margin-left: auto;
  }

  .header__nav-bar .cart__price {
    display: none;
  }

  .footer__logo {
    margin-bottom: 20px;
  }

  .footer__nav {
    margin-bottom: 60px;
  }

  .footer__bottom-links {
    grid-auto-flow: column;
    gap: 15px 30px;
    justify-content: center;
  }

  .footer__copyright {
    justify-self: center;
  }

  .footer-nav__list {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
  }

  .hero__slider-control {
    bottom: 72px;
  }

  .hero__inner {
    padding-top: 48px;
    padding-bottom: 158px;
  }

  .hero__text-block {
    margin-bottom: 40px;
  }

  .hero__heading {
    font-size: 60px;
    margin-bottom: 30px;
  }

  .hero__text {
    font-size: 25px;
  }

  .product-offers__nav {
    margin-bottom: 34px;
  }

  .product-offers__nav > .swiper-wrapper {
    column-gap: 14px;
  }

  .product-offers__catalog-list {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
  }

  .catalog-grid__list {
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas: "sets sets sets holders holders holders holders holders" "machines machines machines machines pedals pedals pedals pedals" "paints paints paints paints paints power power power" "tips tips tips tips needles needles needles needles" "consumables consumables consumables accessories accessories accessories accessories accessories";
  }

  .banners {
    grid-template-columns: 1fr 1fr;
  }

  .item-banner--bg-v1 {
    background-image: url(../img/banners/banner-1-lg.jpg);
  }

  .item-banner--bg-v2 {
    background-image: url(../img/banners/banner-2-lg.jpg);
  }

  .item-banner__inner {
    padding: 40px 50px 30px 50px;
  }

  .item-banner__text {
    font-size: 30px;
  }

  .brands__slider-inner {
    height: 190px;
  }

  .brands__slider-inner .swiper-slide {
    height: calc((100% - 20px) / 2);
  }

  .brands__link {
    font-size: 17px;
    top: -60px;
  }

  .brands-item__image {
    min-height: 84px;
  }

  .info-block {
    row-gap: 16px;
  }

  .info-block::before {
    height: 400px;
  }

  .info-block__heading {
    font-size: 40px;
    margin-bottom: 10px;
  }

  .info-block__text p {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .info-block__text {
    margin-bottom: 40px;
    font-size: 17px;
  }

  .feedback__slider .swiper-button-prev,
  .feedback__slider .swiper-button-next {
    display: flex;
  }

  .mailing__desc {
    font-size: 25px;
  }

  .catalog__products-container {
    column-gap: 20px;
  }

  .product__heading {
    font-size: 30px;
  }

  .product__card {
    margin-bottom: 40px;
  }

  .product__card-inner {
    margin-left: -15px;
    margin-right: -15px;
  }

  .product__gallery {
    flex-wrap: nowrap;
    width: 60%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .product__info {
    width: 40%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .product__details {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
  }

  .product__thumbs-slider {
    order: -1;
    width: var(--thumbs-width, 83px);
    margin-right: var(--thumbs-gutter, 10px);
  }

  .product__thumbs-slide.swiper-slide {
    height: 83px;
  }

  .product__slider {
    width: calc(100% - var(--thumbs-width, 83px) - var(--thumbs-gutter, 10px));
    margin-bottom: 0;
  }

  .product__desc {
    margin-bottom: 24px;
  }

  .details-product__item {
    width: 50%;
    padding: 0 10px;
  }

  .related-products__slider .slider-pagination {
    margin-top: 45px;
  }

  .not-found__content {
    padding-top: 72px;
  }

  .not-found__text-wrapper {
    margin-bottom: 50px;
  }

  .not-found__heading {
    font-size: 60px;
  }

  .not-found__desc {
    font-size: 25px;
  }

  .not-found__button-wrapper {
    row-gap: 30px;
  }

  .cart__main-content {
    margin-bottom: 80px;
  }

  .cart__list {
    margin-bottom: 80px;
  }

  .cart__list-item {
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: "card card card counter bar";
  }

  .cart__list-item .cart-item__bar {
    column-gap: 20px;
  }

  .cart__list-item .cart-item__bar-button span {
    width: 28px;
    height: 28px;
  }

  .cart-item__image {
    width: 100px;
    height: 100px;
  }

  .user-data-cart__block--recipient {
    grid-template-columns: repeat(2, 1fr);
  }

  .user-data-cart__block--address {
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas: "city city city street street street street street" "apartment apartment entrance entrance floor floor intercom intercom";
  }

  .sidebar-cart__group {
    padding-left: 40px;
    padding-right: 40px;
  }

  .contacts-page__item-heading {
    font-size: 25px;
    margin-bottom: 30px;
  }

  .info-board__content {
    grid-template-columns: 1fr 1fr min-content;
    grid-template-areas: "phone contacts socials" "schedule schedule socials" "note note note" "delivery delivery delivery" "req req req";
    row-gap: 16px;
  }

  .info-board__phone {
    font-size: 40px;
  }

  .info-board__schedule {
    font-size: 20px;
  }

  .info-board__receiving-request {
    justify-self: center;
    font-size: 25px;
  }

  .info-board__note {
    font-size: 17px;
  }

  .info-board__delivery {
    font-size: 17px;
  }

  .info-board__requisites {
    font-size: 17px;
  }

  .worker-card__inner {
    grid-template-columns: minmax(80px, 120px) 1fr;
    grid-template-areas: "photo main-info" "photo contacts";
    justify-items: start;
  }

  .worker-card__main-info {
    align-content: start;
  }
}

@media (min-width: 768px) and (min-width: 870px) {
  .header__nav-bar .cart__price {
    display: inline-block;
  }
}

@media (min-width: 920px) {
  .product__gallery {
    width: 50%;
  }

  .product__info {
    width: 50%;
  }

  .product__button-wrapper {
    grid-auto-flow: column;
    grid-template-columns: 2fr 1fr;
    column-gap: 26px;
  }

  .product__share {
    order: 1;
    justify-self: start;
  }
}

@media (min-width: 992px) {
  .header__top {
    column-gap: 25px;
  }

  .footer__bottom-inner {
    grid-auto-flow: column;
    justify-content: space-between;
  }

  .catalog__products-container {
    grid-template-columns: repeat(4, 1fr);
  }

  .not-found__inner--bg::after {
    height: 550px;
  }
}

@media (min-width: 1024px) {
  .page-heading {
    font-size: 48px;
    margin-bottom: 40px;
  }

  .button {
    cursor: pointer;
  }

  .slider-pagination--hero {
    grid-auto-flow: row;
  }

  .nav-bar__item:not(:first-child) {
    margin-left: 50px;
  }

  .product-card:hover,
  .product-card:focus,
  .product-card:focus-within {
    z-index: 3;
  }

  .product-card:hover .product-card__wrapper,
  .product-card:focus .product-card__wrapper,
  .product-card:focus-within .product-card__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  .product-card:hover .product-card__bottom,
  .product-card:focus .product-card__bottom,
  .product-card:focus-within .product-card__bottom {
    display: grid;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }

  .product-card:hover .product-card__bottom-inner,
  .product-card:focus .product-card__bottom-inner,
  .product-card:focus-within .product-card__bottom-inner {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }

  .product-card:hover .product-card__product-name,
  .product-card:focus .product-card__product-name,
  .product-card:focus-within .product-card__product-name {
    height: 100%;
  }

  .product-card__wrapper {
    height: auto;
  }

  .product-card__bottom {
    display: none;
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .product-card__bottom-inner {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(100%);
  }

  .product-card__product-name {
    min-height: 50px;
    height: 50px;
    font-size: 17px;
  }

  .product-card__button {
    font-size: 17px;
  }

  .filter-trigger__text {
    font-size: 22px;
  }

  .header {
    height: 160px;
  }

  .header__top {
    grid-template-areas: "contacts logo cart";
    grid-template-columns: 1fr auto 1fr;
    border-bottom: 1px solid #524336;
  }

  .header__top .header__dropdown-trigger {
    display: none;
  }

  .header__top .header__search {
    display: none;
  }

  .header__top .header__dropdown-button {
    display: none;
  }

  .header__bottom {
    display: grid;
  }

  .header__logo .logo__img {
    width: 186px;
    height: 63px;
  }

  .header__contacts {
    display: flex;
    flex-wrap: wrap;
  }

  .header__contacts .contacts-info__item {
    flex-basis: 50%;
  }

  .header__contacts .contacts-info__item--socials {
    margin-top: 5px;
  }

  .header__contacts .contacts-info__text {
    font-size: 15px;
  }

  .header__dropdown-menu.open {
    display: none;
    visibility: hidden;
  }

  .catalog-dropdown {
    display: block;
    opacity: 0;
  }

  .catalog-dropdown.open {
    opacity: 1;
  }

  .footer__content {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .footer__content-inner {
    display: grid;
    grid-template-columns: 4fr 8fr;
    grid-template-rows: min-content 1fr;
    grid-template-areas: "logo nav" "contacts nav";
  }

  .footer__logo {
    grid-area: logo;
    justify-content: flex-start;
    margin-bottom: 40px;
  }

  .footer__logo .logo__img {
    width: 226px;
    height: 75px;
  }

  .footer__nav {
    grid-area: nav;
    margin-bottom: 0;
  }

  .footer__contacts {
    grid-area: contacts;
  }

  .main-page__item:nth-child(2) {
    margin-top: 30px;
  }

  .main-page__item:not(:first-child) {
    margin-bottom: 60px;
  }

  .hero__slider-control {
    left: calc(100% - 90px);
    bottom: 50%;
    transform: translateX(0) translateY(-50%);
  }

  .hero__slider-control .swiper-button-prev,
  .hero__slider-control .swiper-button-next {
    display: block;
  }

  .hero__inner {
    padding-top: 110px;
    padding-bottom: 210px;
  }

  .hero__text-block {
    margin-bottom: 60px;
  }

  .hero__heading {
    font-size: 75px;
  }

  .product-offers__nav > .swiper-wrapper {
    column-gap: 20px;
  }

  .product-offers__catalog-list {
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 50px;
  }

  .brands__slider .swiper-button-prev,
  .brands__slider .swiper-button-next {
    display: flex;
  }

  .brands__link {
    font-size: 20px;
  }

  .brands-item__image {
    filter: grayscale(100%);
    opacity: 0.6;
    transition: filter 0.2s linear, opacity 0.2s linear;
  }

  .brands-item__image:hover {
    filter: grayscale(0%);
    opacity: 1;
  }

  .info-block {
    grid-template-columns: 1fr 1fr;
  }

  .info-block::before {
    height: 635px;
  }

  .info-block__content {
    align-content: center;
    max-width: 598px;
  }

  .mailing {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }

  .mailing::after {
    content: "";
    display: block;
    background-image: url(../img/bg/mailing-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .mailing__content {
    width: 492px;
  }

  .mailing__content {
    justify-self: end;
  }

  .mailing__form .form__group--agreement {
    order: initial;
    margin-bottom: 30px;
  }

  .catalog__inner {
    padding-bottom: 40px;
  }

  .product__card {
    margin-bottom: 48px;
  }

  .product__card-inner {
    margin-left: -20px;
    margin-right: -20px;
  }

  .product__gallery {
    padding-left: 20px;
    padding-right: 20px;
  }

  .product__info {
    padding-left: 20px;
    padding-right: 20px;
  }

  .product__details {
    margin: 0 -20px;
  }

  .product__price-item {
    font-size: 24px;
  }

  .product__price-item--old-price {
    font-size: 17px;
  }

  .product__desc {
    margin-bottom: 40px;
  }

  .details-product__item {
    padding: 0 20px;
  }

  .related-products__item:not(:last-child) {
    margin-bottom: 0;
  }

  .related-products__slider .slider-pagination {
    display: none;
  }

  .related-products__slider .swiper-button-prev,
  .related-products__slider .swiper-button-next {
    display: flex;
  }

  .related-products__slider-inner.swiper {
    padding-bottom: 80px;
  }

  .not-found__inner--bg::after {
    background-image: url(../img/404/404-lg.png);
    height: 762px;
  }

  .not-found__content {
    padding-top: 160px;
  }

  .not-found__button-wrapper {
    grid-auto-flow: column;
    column-gap: 40px;
    align-items: center;
  }

  .contacts-page__item {
    margin-bottom: 40px;
  }

  .our-managers__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1150px) {
  .cart__form {
    display: grid;
    grid-template-columns: 1fr 392px;
    grid-template-areas: "main aside";
    column-gap: 20px;
    align-items: start;
  }

  .cart__main-content {
    grid-area: main;
    margin-bottom: 0;
  }

  .cart__sidebar {
    grid-area: aside;
  }
}

@media (min-width: 1200px) {
  .header__nav .page-nav__item {
    margin-right: 60px;
  }
}

@media (min-width: 1256px) {
  .catalog-dropdown__item {
    grid-template-columns: repeat(5, 1fr);
  }

  .hero__slider-control {
    left: calc(100% - 45px);
  }

  .info-block {
    grid-template-columns: 1fr 1fr;
  }

  .info-board__content {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: 1280px) {
  .filter__group--mobile {
    display: none;
  }

  .catalog__filter {
    z-index: 0;
    position: initial;
    display: block;
    width: calc(100% / 4);
    padding-right: 20px;
  }

  .catalog__products {
    width: calc(100% / 12 * 9);
    padding-left: 20px;
  }

  .catalog__products-panel {
    margin-bottom: 50px;
  }

  .catalog__products-panel .products-panel__filter-trigger {
    display: none;
    visibility: hidden;
  }

  .catalog__products-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1296px) {
  .brands__slider .swiper-button-prev {
    left: -30px;
  }

  .brands__slider .swiper-button-next {
    right: -30px;
  }
}

@media (min-width: 1300px) {
  .related-products__slider .swiper-button-prev {
    left: -24px;
  }

  .related-products__slider .swiper-button-next {
    right: -24px;
  }
}

@media (min-width: 1366px) {
  .slider-pagination--brands {
    bottom: -56px;
  }

  .main-page__item:nth-child(2) {
    margin-top: 60px;
  }

  .main-page__item:not(:first-child) {
    margin-bottom: 120px;
  }

  .catalog-grid__list {
    grid-template-columns: repeat(7, 1fr);
    grid-template-areas: "sets sets sets holders holders holders holders" "machines machines pedals pedals pedals paints paints" "power power power tips tips needles needles" "consumables consumables consumables consumables accessories accessories accessories";
  }

  .item-banner__text {
    font-size: 40px;
  }

  .item-banner__link {
    font-size: 22px;
  }

  .brands {
    padding-bottom: 56px;
  }

  .brands__slider .swiper-button-prev {
    left: -62px;
  }

  .brands__slider .swiper-button-next {
    right: -62px;
  }

  .info-block__content {
    padding-left: 40px;
  }

  .info-block__heading {
    font-size: 50px;
  }

  .info-block__button {
    justify-self: start;
  }

  .feedback__slider.swiper {
    padding-bottom: 70px;
  }

  .feedback__slider .swiper-button-prev,
  .feedback__slider .swiper-button-next {
    top: calc(50% - 16px);
  }

  .mailing {
    column-gap: 70px;
  }

  .mailing__content {
    width: 524px;
  }

  .catalog__inner {
    padding-bottom: 60px;
  }

  .not-found__heading {
    font-size: 75px;
  }

  .cart__form {
    column-gap: 40px;
  }
}

@media (min-width: 1428px) {
  .brands__slider .swiper-button-prev {
    left: -80px;
  }

  .brands__slider .swiper-button-next {
    right: -80px;
  }
}